[2018-10-06 14:29] Kidel opened #17 "L2 Multicast on Docker link"
- [x] https://docs.docker.com/network/macvlan/
  - [x] applied on a branch
  - [x] test

[2018-10-06 16:13] Kidel commented on #17
Adding options ` -d ipvlan -o ipvlan_mode=l2` to networks.
https://github.com/KatharaFramework/Kathara/commit/f8d6f095c5f71f8d3bf1e68d7b08a7867cf943bb

[2018-10-13 15:21] Kidel commented on #17
solved using brctl

[2018-10-13 15:21] #17 closed, assigned to Kidel, NeejaYanglea, lorenzo93

[2018-10-22 13:32] ghost opened #20 "Problem with Linux installation"
Hi, I've followed your Linux installation guide and I've been trying to test if everything went well through the example you give with MARACAS_lab.
I get this series of errors though and I don't know how to fix them:
![1](https://user-images.githubusercontent.com/32570656/47294973-c4890380-d60e-11e8-99e0-891cd65fb84d.png)

What can I do?

[2018-10-22 13:59] ghost commented on #20
Nevermind, solved with $ sudo ln -s /usr/bin/python2 /usr/bin/python --force

[2018-10-22 14:00] Kidel commented on #20
it's simply because you're using Python 3 instead of Python 2.

[2018-10-22 14:28] #20 closed, assigned to nobody

[2018-10-22 15:54] EmanueleBarbalaco opened #21 "problem at the start of kathara on linux"
after installation, by executing the command $ NETKIT_HOME / vstart --eth 0: A pc1
the error that appears in the figure is presented
![schermata del 2018-10-22 17-52-30](https://user-images.githubusercontent.com/40856154/47303092-5864ca80-d623-11e8-84e3-5ef452d86138.png)

[2018-10-22 15:55] Kidel commented on #21
Hi, try to download the latest version and run `$NETKIT_HOME/lwipe` and `$NETKIT_HOME/install`.

It appears that the installer couldn't write the config file.

In case it happens again please provide the output of `$NETKIT_HOME/check`

[2018-10-22 16:04] EmanueleBarbalaco commented on #21
![schermata del 2018-10-22 18-01-57](https://user-images.githubusercontent.com/40856154/47303601-a6c69900-d624-11e8-8dea-9e7602e9f998.png)
I have already installed the latest version.

[2018-10-22 16:07] EmanueleBarbalaco commented on #21
![schermata del 2018-10-22 18-06-41](https://user-images.githubusercontent.com/40856154/47303826-4552fa00-d625-11e8-846a-4b36b1ab41fd.png)

[2018-10-22 16:33] Kidel commented on #21
You're probably using the previous version. The permission error for /opt/ has been solved in the latest release some days ago.

Also you don't have the `check` script, so you're at least a couple of releases behind.

[2018-10-22 16:34] Kidel commented on #21
Please make sure that you're using the latest version released and then run lwipe and install again.

[2018-10-22 16:35] EmanueleBarbalaco commented on #21
for install latest version I have to re-follow the steps in wiki?

[2018-10-22 16:52] lorenzo93 commented on #21
There is the wiki page on [How to Update](https://github.com/KatharaFramework/Kathara/wiki/Update)

[2018-10-22 17:19] Kidel commented on #21
I'm closing the issue. Please feel free to reply if you're having more trouble.

[2018-10-22 17:19] #21 closed, assigned to nobody

[2018-10-31 16:39] massimorosselli opened #23 "Errore installazione"
Buonasera, sto provando ad installare Kathara su Wiindows 10 Professional.
Credo di aver fatto tutto correttamente ma credo di avere qualche problema con Docker, ma non ne sono sicuro.
Purtroppo non ho seguito le lezioni quindi non so dove mettere le mani.

Attendo aiuto...

ps. in allegato il messaggio di errore presentato.

![errore](https://user-images.githubusercontent.com/44647676/47803865-b7

[2018-11-01 11:36] Maxinho96 opened #24 "[macOS] lstart error when lab folder contains accented letters"
I want to save a lab folder on iCloud. The general path is:
`/Users/<USER>/Library/Mobile\ Documents/com\~apple\~CloudDocs/<FOLDER>/<MAYBE A SUBFOLDER>/<MAYBE ANOTHER SUBFOLDER>/kathara-lab`

When I execute lstart I get:
`Traceback (most recent call last):
  File "/Users/Massi/Kathara/bin/python/folder_hash.py", line 28, in <module>
    print(u.generate_urlsafe_hash(lab_path))
  File "/Users/Massi

[2018-11-01 11:49] lorenzo93 commented on #24
Hi @Maxinho96,

could you check which Kathara version are you using?
You can check it by executing `$NETKIT_HOME/kathara_version`

[2018-11-01 12:09] lorenzo93 commented on #23
Hi @massimorosselli,

you are using windows containers instead of default (linux) container.
Please swtich to linux containers and check again

[2018-11-01 12:16] massimorosselli commented on #23
Purtroppo mi dà errore.. quando provo a fare lo switch to linux container, mi da il seguente errore..

=======ERRORE====================================================

Unable to start: Il comando in esecuzione è stato interrotto perché la variabile di preferenza "ErrorActionPreference" o il parametro comune è impostato su Stop: Impossibile avviare 'MobyLinuxVM'.

Impossibile avviare la macchina

[2018-11-01 13:36] Maxinho96 commented on #24
0.33.1

[2018-11-01 14:33] Kidel commented on #23
Hi. This seems to be an error with Docker.
I would suggest you try to uninstall it, removing your settings, and later
reinstall it **making sure to NOT use windows containers**. This way it
should install all the required components for Linux containers.
Also make sure that your Windows OS is up to date.

If you still have the same error, please consider checking solution on
Google:
https://www.go

[2018-11-01 14:57] lorenzo93 commented on #24
Seems to be a problem with a non ascii character in your path.

Could you please tell me which character is in position 68 of your lab's path?

[2018-11-01 15:37] simone-liotta opened #25 "PROBLEM ON UBUNTU (VIRTUAL BOX) INSTALLATION"
I'm installing Kathara on Ubuntu in VirtualBox (i'm not used to work with linux systems).
I've followed exactly ALL the steps mentioned in wiki (step by step). Precisely i've executed these commands on my bash:

1) curl -fsSL https://get.docker.com -o get-docker.sh
2) sudo sh get-docker.sh
3) sudo apt install python
4) sudo apt install build-essential
5) sudo apt install xterm
6) i've downloaded k

[2018-11-01 16:02] Kidel commented on #25
Try `$NETKIT_HOME/vstart --eth=0:A pc1`

Your system fails to find `vstart` because it doesn't know where it's located, so you have to use the full path (`$NETKIT_HOME/vstart`) or add $NETKIT_HOME to your $PATH.

Also since you mentioned that you're not used to Linux, let me remind you that Kathará is compatible with Windows 8+ 64bit and Mac.

[2018-11-01 16:15] simone-liotta commented on #25
No it doesn't work i've this message.

![image](https://user-images.githubusercontent.com/44676159/47864319-915a2780-ddf9-11e8-9934-472994239c1b.png)

I know that kathara is compatible with windows 10 pro. But I have the home edition.

I think that kathara isn't installed when execute "kathara" it say that's not found:

![image](https://user-images.githubusercontent.com/44676159/47864345-a8991500-

[2018-11-01 16:23] Kidel commented on #25
You didn't copy my command. vstart alone won't work if you don't use any parameter (what is it supposed to start?).

Also there is no executable called "kathara", so the second command doesn't work because it's not supposed to work.

From the outputs you gave, it seems that Kathará is installed and working well. You simply need to use the correct commands.

[2018-11-01 16:26] simone-liotta commented on #25
ok, it's right, excuse me. thanks a lot.

[2018-11-01 16:41] Kidel commented on #25
It's fine. Closing

[2018-11-01 16:41] #25 closed, assigned to nobody

[2018-11-01 16:56] Maxinho96 commented on #24
It's 'à'. Can you fix this or I need to change the folder name?

[2018-11-01 17:27] lorenzo93 commented on #24
I would love to fix this issue!
The problem is that I've tried on Windows and Linux and the error is not showing.
Unfortunally I do not own a Mac.
So for now maybe is better if you remove that character from the path!

Next week I'll arrange to get one and try to fix it!

[2018-11-01 18:11] massimorosselli commented on #23
Ora mi dà questo errore...

error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.35/version: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This error may also indicate that the docker daemon is not running.

[2018-11-01 18:26] Kidel commented on #23
Docker is not running.
Run Docker and, just in case, `lwipe`

[2018-11-02 16:19] #23 closed, assigned to nobody

[2018-11-07 12:07] EmanueleBarbalaco opened #26 "problem example application dns"
![prob](https://user-images.githubusercontent.com/40856154/48130713-d369ea00-e28d-11e8-83f1-f1f87e995bd1.JPG)

When starting with the lstart command, the following errors are reported

[2018-11-07 13:12] Kidel commented on #26
Please try `lwipe` to reset the internal state. You probably used `lstart` when your lab had only pc2 and pc1 (or they were the only ones started successfully) and now you're trying to use `lstart` again before `lclean`.

The correct series of command is `lstart` followed by `lclean`, and **never** `lstart` followed by another `lstart`.

[2018-11-07 13:48] EmanueleBarbalaco commented on #26
![prob](https://user-images.githubusercontent.com/40856154/48135003-fd2a0d80-e29b-11e8-9279-51bfc95e5e94.JPG)

now returns this error

[2018-11-07 13:52] EmanueleBarbalaco commented on #26
in the snapshot you see lclear, but even typing lclean returns the same error Traceback...

[2018-11-07 14:00] Kidel commented on #26
"lclear" does not exist. The command is "lclean" (however lwipe contains lclean).

It seems however that you now have a permissions error. Can you please copy the full output of `lstart`?

[2018-11-07 14:03] EmanueleBarbalaco commented on #26
![prob](https://user-images.githubusercontent.com/40856154/48135797-35325000-e29e-11e8-9374-df72a25a7c1f.JPG)

[2018-11-07 15:03] Kidel commented on #26
Please do not put Katharà labs in `/opt` (it's a system folder!).
Use a subdirectory in your user home for labs (unless you are logged in as root, but you shouldn't).

Katharà has to run with user permissions and normal users cannot write in system folders.

Katharà itself can be in `/opt` (and should be, since Katharà is similar to a system program), but your labs should be in a user directory.

[2018-11-07 15:19] EmanueleBarbalaco commented on #26
![prob1](https://user-images.githubusercontent.com/40856154/48140354-dd4d1680-e2a8-11e8-9071-4d3475a892da.JPG)

[2018-11-07 15:23] Kidel commented on #26
I can confirm you that the lab works. The problem lies with the permissions you have on those lab files.
Try running
`sudo chmod -R 777 /home/LAB/*`
And later `lrestart` (that is `lclean`+`lstart`)

[2018-11-07 15:32] EmanueleBarbalaco commented on #26
![ris](https://user-images.githubusercontent.com/40856154/48141199-a972f080-e2aa-11e8-9349-891dd059c1fe.JPG)
It is ok.
Thaks for your help.

[2018-11-07 15:33] Kidel commented on #26
No problem :)

[2018-11-07 15:33] #26 closed, assigned to nobody

[2018-11-09 21:33] FedericoYusteenappar opened #27 "SDN - openvSwitch lab"
Salve, sto cercando di realizzare un piccolo laboratorio SDN, ho esteso l'image di base con l'installazione del controller Ryu, ma dopo aver fatto partire openvSwitch, non c'è verso di far comunicare lo switch con il controller Ryu (che ho avviato)

[2018-11-09 22:29] Kidel commented on #27
The netkit_base image should already contain Ryu and OvS.

Aside from that you should describe your error (if any) or at least what you're doing in details.
I'm not sure how to help you with the information you provided.

I can only suggest you to give a look at this old PR from another user: https://github.com/KatharaFramework/Kathara/pull/13/commits/7eec8f6864ec1bc49c512de53794d176eb85ff99

The

[2018-11-09 22:29] #27 closed, assigned to nobody

[2018-11-12 12:38] NeejaYanglea commented on #24
Should be fixed on this branch: https://github.com/KatharaFramework/Kathara/commit/be23e309bc0800e00c3b7623ff4ede05601fe381

- [x] Test Windows
- [x] Test Linux
- [x] Test MacOs

I've tested lstart on Windows (with Python 2.7). @lorenzo93 can you please handle the test on the other operating systems and Python versions? Some of the fixes may be depending on the OS default encoding for strings.
The

[2018-11-12 14:20] tcaiazzi opened #28 "wrong permissions on directories of lab nodes downloading the zip"
**Describe the bug**
In LoadBalancerRandom lab when trying to use the links command on a server, it produces a '403 forbidden' error.

**To Reproduce and Solution**
Once downloaded the LoadBalancerRandom lab in Kathara-Labs/Application Level as zip file, the permissions of server* and his sub-directories are setted on 700 rather then 754.
Using git clone it works fine.

[2018-11-12 14:29] NeejaYanglea commented on #24
Patched some problems raised in python3. Now in Windows it works with both python 2 and 3.

[2018-11-12 15:40] Kidel commented on #28
I'm not sure this is the right place to report this. However are you using the "download as zip file" on Github or are you downloading the pre-compressed zip file from here? https://github.com/KatharaFramework/Kathara-Labs/blob/master/Application%20Level/LoadBalancerRandom/kathara-lab_loadbalancer-ws-rnd.zip

[2018-11-12 17:37] tcaiazzi commented on #28
Sorry, probably the right place for this issue is in Kathara-labs. Anyway in both cases it doesn't work.

[2018-11-12 17:37] Kidel commented on #28
It's fine, don't worry.
Did you use "download as zip" from GitHub or did you download the zip file from here: https://github.com/KatharaFramework/Kathara-Labs/blob/master/Application%20Level/LoadBalancerRandom/kathara-lab_loadbalancer-ws-rnd.zip

[2018-11-12 17:41] tcaiazzi commented on #28
I've tried both possibilities, but it doesn't work.

[2018-11-12 18:16] Kidel commented on #28
I'm not sure if that's because of github or because of the permissions set
by the creator of the lab (also it may have been created on Windows).
I'll look into that

[2018-11-13 17:25] Kidel commented on #28
I added a workaround in this commit: https://github.com/KatharaFramework/Kathara/commit/b3197cb6a4bb60e53c9dc08572e7259f7ef08932

Please wait for the release later today.

[2018-11-13 17:26] Kidel commented on #24
We also addressed a couple of bugs in the installer for this issue

[2018-11-13 17:51] NeejaYanglea commented on #24
Fixed in the next release.

[2018-11-13 17:51] #24 closed, assigned to NeejaYanglea, lorenzo93

[2018-11-13 17:52] Kidel commented on #28
I'm closing the issue. Please don't esitate to tell us if something still doesn't work.

[2018-11-13 17:52] #28 closed, assigned to nobody

[2018-11-15 14:50] DarthGalm opened #30 "Cannot start lab when adding new folders manually"
On MacOS Mojave 10.14.1,  can't start lab when created from GUI when new folders are added manually to project (i.e. adding "var/www/html/" inside the "apache" folder)

Steps to reproduce the behavior:
1. Create a lab with an apache web server
2. Add folders to apache (i.e. "var/www/html/")
3. Execute "lstart" on lab
it gives the following error:
Traceback (most recent call last):
  File "/Users/m

[2018-11-15 15:01] davidebersani opened #31 "Unable to access to user's public_html dir"
In a scenario with apache2 enabled and userdir module enabled I should be able to access to user's public_html dir, for example with  `links http://open.me/~guest/`. Instead, when I try to do this, apache give me error 404. Is a problem of apache? Or is a problem of XTerm that doesn't recognize ~ in the correct way?

Steps to reproduce the behavior:
1. Create lab with a web server and "userdir" mo

[2018-11-15 15:02] Kidel commented on #30
Hi, what version of katharà are you using?
`$NETKIT_HOME/kathara_version`
Unfortunately there is a mistake in the check script so it's not visible.

Also please attach your lab to a reply. This may be a tricky error to fix.

[2018-11-15 15:05] Kidel commented on #31
Hi, can you please attack the lab? There may still be permission problems from the last issue.

[2018-11-15 15:07] davidebersani commented on #31
[lab2.zip](https://github.com/KatharaFramework/Kathara/files/2585847/lab2.zip) This is the lab.

[2018-11-15 15:08] Kidel commented on #31
Oh, ignore my previous post. The error is probably due to the fact that you're using the `~` in the url.

[2018-11-15 15:09] DarthGalm commented on #30
Latest version, 0.34.

Attached you'll find the lab.

Thank you.

[2015esonero.zip](https://github.com/KatharaFramework/Kathara/files/2585859/2015esonero.zip)

[2018-11-15 15:11] davidebersani commented on #31
Yes, I know, but I was doing an old exam that is on [http://wiki.netkit.org/index.php/Labs_Exams]( http://wiki.netkit.org/index.php/Labs_Exams ), and it required this feature.

[2018-11-15 15:15] Kidel commented on #31
Yes but that requires the `guest` user. That's an old Netkit lab, Katharà has no `guest` user inside the `netkit_base` image, only `root`.

We may add that feature later, but it's not supported right now.

[2018-11-15 15:21] Kidel commented on #31
I remember doing that lab back in the day. That's an example of the Apache user module (https://httpd.apache.org/docs/2.4/howto/public_html.html).

It probably won't be covered by the course this year. You'll probably just use links and Apache without the user module (so just the default apache folder inside `/var/www`).

I'll close the issue. Please feel free to report anything that may resemble

[2018-11-15 15:21] #31 closed, assigned to nobody

[2018-11-15 16:46] Maxinho96 opened #32 "Cannot comment a single line in a configuration file"
If I comment a single line in a configuration file, also the lines below it are ignored.

Steps to reproduce the behavior:
1. Edit a lab configuration file (I've tried with a .startup file)
2. Comment out a line which has other lines below it. e.g.:
`ifconfig eth0 30.0.0.3/24 up`
`# route add default gw 30.0.0.1 dev eth0`
`/etc/init.d/bind start`
3. Start the lab
4. Notice that the line below the

[2018-11-15 16:56] Kidel commented on #32
That's because of a fix for SDN that I implemented a while ago to avoid parallel comments. I'll fix it right away.

[2018-11-15 19:06] Kidel commented on #30
Ok the problem is with the file `.DS_Store` (that's created automatically by macOS). It should work if you remove that.

However it never occurred to us that you could have non-text files inside the machine folders.
The next release will support `.DS_Store` as well as images and so on.

Meanwhile delete it manually to have your lab work.

[2018-11-15 19:34] Kidel commented on #32
Should be fixed in the next release. Meanwhile don't use comments. Thanks for submitting your issue.

[2018-11-15 19:34] #32 closed, assigned to nobody

[2018-11-15 19:49] Kidel commented on #30
However there are a couple of errors with static routes in that lab, keep that in mind.
Specifically `router1` has the wrong interface for the default gw and `host` has itself as default gw. Fixed that and removed `.DS_Store` the lab works.

[2018-11-15 20:14] Kidel commented on #30
Done. Will go live in release 0.34.1

[2018-11-15 20:14] #30 closed, assigned to nobody

[2018-11-15 22:08] Kidel commented on #30
new release up

[2018-12-02 20:30] edge33 opened #34 "Issues with shared files and uppercase host names"
**Describe the bug**
It looks like files under host_name/ directory seems to be not copied over to the host when machine is started and host_name is uppercase. files under the path shared/ get not copied aswell.

**To Reproduce**
Steps to reproduce the behavior:
1. Create lab with host names uppercase
2. Create directories and files to deploy files like 'pc1/etc/resol.conf'
3. lstart the machine
4

[2018-12-03 21:31] Kidel commented on #34
can you please upload your lab in a zip file? It's kind of strange since in every lab we test files are copied just fine.
Can you also tell us what OS are you using?

[2018-12-21 11:09] #34 closed, assigned to lorenzo93

[2019-01-05 13:31] jrobert2 opened #36 "DockerFiles"
I've played with creating my own docker images, starting from a ubuntu image instead of kathara/netkit_base. It looks like it works perfectly, but i'm wondering if i'm wrong or not, especially since i didn't find the dockerfile of kathara/netkit_base. Could you provide it ?

By the way, for my usage (teaching), i would find it great to have a way to specify a dockerfile inside the lab configuratio

[2019-01-05 14:11] Kidel commented on #36
Hi, thanks for writing us.

Would it be okay if we allowed to specify the root of a DockerHub image in the config?
At the moment if you use the `image` parameter in lab.conf, Docker will look for `kathara/imagename` on your machine or on DockerHub. We can allow a configuration entry to specify the root repository on the hub (that can also be an empty string, allowing you to write a full path in yo

[2019-01-05 21:27] jrobert2 commented on #36
Hi, thanks you for your answer.

Yes, this solution would do ! Especially with the possibility to use local/private registry (i don't want to pollute dockerhub with all of my things).
However i think that my colleagues would have more difficulties doing this way rather than having everything in the same lab conf.

Regarding the DockerFile, i'm sorry you lost it (even if it's not a real problem, it

[2019-01-06 13:23] Kidel commented on #36
Hi,
I gave a bit more thought and I think there is already a solution with the current build that allows you to get the functionality you want.

I think this is exactly what we had in mind when we forced `kathara/` as root for the images, since Docker allows easy retagging and multiple tags. We probably wanted to give a bit of image management, since Docker usually is a bit messy if you have multi

[2019-01-06 19:58] jrobert2 commented on #36
Hi,
thanks for this idea.
The thing is it would require my users to be in the docker group with the
associated superpowers, wouldn't it ? (the wrapper you provide does not
come with the build or tag keywords)
Anyway, with the "docker pull followed by docker tag" command i see how to
deploy the images !

Regarding the base image, thanks it's clear to me now !

Best,

Julien

Le dim. 6 janv. 2019 à

[2019-01-07 13:44] Kidel commented on #36
I'll see if we can add `docker build` to the wrapper (maybe only with the pipe syntax, eg: `cat dockerfile | wrapper build`).

For now you can probably configure `sudo` to give access to `docker build` to regular users.

[2019-01-07 19:14] jrobert2 commented on #36
Ok, thanks !
Anyway, with what you told me i already have a solution for my needs !

Best,

Julien

Le lun. 7 janv. 2019 à 14:45, Gaetano Bonofiglio <notifications@github.com>
a écrit :

[2019-01-08 09:30] Kidel commented on #36
Ok, thanks for your feedback!

[2019-01-08 09:30] #36 closed, assigned to nobody

[2019-02-20 17:27] Zahrarjb opened #37 "Long Path of the lab"
hello,

I wanted to deploy a SDN network using Kathara with 2 Ryu controller as follow:

4 switches,2 RYU controllers and 4 hosts which runs successfully.

while by extending it to 7 switches, 2 controllers,5 hosts, I receive an error which is :
"
========================= Starting Lab ==========================
Command line too long, probably because of a long path to this lab. Try moving the lab

[2019-02-20 17:32] Kidel commented on #37
Hi! Thank you for using Katharà for your SDN experiments.

About your error, it should only happen with labs that go way over 300 nodes (and we are looking into that to fix it).

Can you put your lab in a zip file and drag it into your reply? This way I can try to run it and replicate the error. Also are you on Linux or Windows, because the command limit on Linux is incredibly long. It would also

[2019-02-20 17:45] Zahrarjb commented on #37
Thank you very much for the quick response. Actually, I am new to Kathara and the lab still needs more configuration but I have attached both files here. I have the problem only with SDNSlab2. I am using Linux Ubuntu and the latest version of Kathara.
I used both commands for Lcarsh,lclean and lwipe and again started by lstart but, unfortunately, it didn't work.
[SDNSlab1.tar.gz](https://github.co

[2019-02-27 17:35] vitome opened #38 "Enable customized tap IP addresses"
I tried to reuse a lab configuration that was working under netkit. The lab was using the tap directive, to provide an exit point to internet. It seems like in Kathara the IP addresses of the IP tap are configured differently. In particular, the in the conf file there is
`boundary[0]=tap,10.10.10.1,10.10.10.2`
but the IP assigned to eth0 of boundary is 172.33.0.2/16, while the one assigned to the

[2019-02-28 20:57] Enrico204 opened #39 "Python 3 support"
**Describe the bug**
Python 2 support ends on Jan 1, 2020 (see https://pythonclock.org/ ). The project should use Python 3 if it's compatible, or at least, it should suggest to use Python 3, and not Python 2, on readme files and doc.

**To Reproduce**
No steps required.

**Expected behavior**
Not applicable.

**Screenshots**
Not applicable.

[2019-02-28 21:11] Enrico204 commented on #39
I created the (draft) PR #40 for this

[2019-02-28 21:25] Kidel commented on #39
Everything should be already compatible with Python 3

[2019-02-28 21:28] Enrico204 commented on #39
It wasn't working for me, but I'll check again :-)
However, in the README file it's still reporting Python 2.x, and I think that it would be safe to remove any Python 2 references due to the end of the support.

[2019-02-28 21:32] Kidel commented on #39
We checked Python3 compatibility some months ago, but maybe it only worked for our environment.

I've checked your PR and it uses less implicit methods compared to what we have now. I'll test it tomorrow and probably merge.

I'll also tell the guys at the university to review the documentation.

Thank you for your contribution.

EDIT: is your version still compatible with Python 2?

[2019-03-01 08:54] Enrico204 commented on #39
I'll check the compatibility with Python 2 (actually I tested it with Python 3 only).

[2019-03-02 13:15] OlegJakushkin opened #41 "How to allow host internet access to Kathara docker node?"
**Is your feature request related to a problem? Please describe.**
I want to have access to the internet network my node is connected to. How to do it?

**Describe the solution you'd like**
Any  that would not include manual node stop->start->new ip->manual network rerouting

At least what can be done in theory to implement or automate this?

[2019-03-03 23:06] brtar96 opened #42 "Problems with MacOs installation"
**Describe the bug**: No such file or directory: '/Users/Myname/Kathara/bin/../config'
A clear and concise description of what the bug is.
Impossibility to find a file

**Expected behavior**
Should open a lab

**Screenshots**
Traceback (most recent call last):
  File "/Users/Myname/Kathara/bin/python/folder_hash.py", line 3, in <module>
    import netkit_commons as nc
  File "/Users/Myname/Kathara

[2019-03-03 23:23] Kidel commented on #42
From your check command output it seems that you lack the config file that is usually generated during the installation process.

You should probably simply run the installer as administrator followed by `lwipe`.

Check this page: https://github.com/KatharaFramework/Kathara/wiki/Macos

[2019-03-03 23:29] Kidel commented on #41
There are many ways to do it.

In `vstart` use `--bridged`
In `lstart` use `MACHINE_NAME[bridged]=true` in your lab.conf

This will connect your `MACHINE_NAME` node to your host machine on `eth0`, giving you the possibility to access the internet.

Another possible way is to manually create a bridged Ubuntu or Alpine container and simply link it to a Katharà node.

Both methods require you to conf

[2019-03-03 23:30] Kidel commented on #39
Thank you. I'll merge it if it keeps being compatible with older systems.

I'll also have @lorenzo93 double check if the current version works on Python3 (I think he's currently using Katharà on Python3, but maybe we should test it on a blank virtual machine).

[2019-03-03 23:34] Kidel commented on #38
Yes you are correct.

Usually IP addresses are changed using the *.startup files and the ifconfig command, since Docker already provides ip addresses.

At the moment Katharà cycles through subnets in order to increase the maximum number of nodes on a single lab. For this reason the default docker IP addresses must be changed using `ifconfig`. However we are revisiting this mechanism in the near fu

[2019-03-03 23:43] Kidel commented on #37
Hi. Sorry for the late answer. I tested your labs but I wasn't able to reproduce your issue, and everything seems to be working fine. It may be an issue with your configuration.

Can you please provide the output of the `$NETKIT_HOME/check` command? And also the contents of your Katharà config file.

Thank you.

Screen:
![image](https://user-images.githubusercontent.com/3390842/53703833-8995a880-3

[2019-03-04 08:15] brtar96 commented on #42
I've used that page to install Kathara but it doesn't help. What do you mean "followed by lwipe"?

[2019-03-04 08:24] Kidel commented on #42
After every install or update, simply run lwipe to start clean.

What's the output of the installer? And how are you running it? For some reason the config file seems to be missing

[2019-03-04 08:29] brtar96 commented on #42
First of all, I'm using bash shell. I do -"git clone https://github.com/KatharaFramework/Kathara.git", then this: echo "export NETKIT_HOME=/Users/myName/kathara/bin" >> ~/.bash_profile and then $NETKIT_HOME/install. If I try to do sudo $NETKIT_HOME/install, it outputs $NETKIT_HOME is not set while if I run $NETKIT_HOME/install, the output is:
Setting permissions
chflags: /Users/bruno.taricco/Katha

[2019-03-04 09:08] Kidel commented on #42
You don't need to use `sudo`, since the script asks you anyway. You just need to be sudo enabled (I agree that the way I istructed you was not precise, I'm sorry).

Also please run `$NETKIT_HOME/check` again, let's see if the config file now exists.

Also please remember to run  `$NETKIT_HOME/lwipe` just in case.

[2019-03-04 09:17] brtar96 commented on #42
Docker version is
Docker version 18.09.2, build 6247962

Trying to run Docker Hello World

Hello from Docker!
This message shows that your installation appears to be working correctly.

To generate this message, Docker took the following steps:
 1. The Docker client contacted the Docker daemon.
 2. The Docker daemon pulled the "hello-world" image from the Docker Hub.
    (amd64)
 3. The Docker dae

[2019-03-04 09:19] Kidel commented on #42
It seems that we got past the generation of the config file. Try running commands now. It should work.

[2019-03-04 09:23] brtar96 commented on #42
It seems working. Thank you.

[2019-03-04 09:23] #42 closed, assigned to nobody

[2019-03-04 22:20] Enrico204 commented on #39
In the mean time, I wasn't able to reproduce the original issue with Python 3 after a clean install, so that was probably something in my environment. I'll test my PR for Python 2 compatibility asap :-)

[2019-03-10 15:07] Kidel commented on #41
I'll close the issue, since there have been no replies after 7 days.

[2019-03-10 15:07] #41 closed, assigned to nobody

[2019-03-10 15:09] Kidel commented on #39
If there are no errors I'd probably close this issue and discard the PR. Your branch is probably more stable on the Python 3 side, but it removes the compatibility with the current installations.

Please feel free to open a new issue if you can reproduce the error with Python 3.

[2019-03-10 15:09] #39 closed, assigned to nobody

[2019-03-10 15:10] Kidel commented on #38
Closing.

[2019-03-10 15:10] #38 closed, assigned to nobody

[2019-03-10 15:10] Kidel commented on #37
Since there is no reply I'm closing this issue. Please feel free to open a new one to report any bug or idea.

[2019-03-10 15:10] #37 closed, assigned to nobody

[2019-03-18 09:33] brtar96 opened #45 "command ftp from startup"
**Describe the bug**
It is not possible to install ftp from the startup files.

**Expected behavior**
I'd expect to use ftp after starting the lab but the command is not found.

[2019-03-18 10:09] Kidel commented on #45
Hi, unfortunately there is no ftp server in the `netkit_base` image.
However there are 2 ways for you to solve this issue.

The first one is by using the startup commands. I'm attaching a lab where `vsftpd` installs successfully:
[lab.zip](https://github.com/KatharaFramework/Kathara/files/2977438/lab.zip)

![Annotazione 2019-03-18 110430](https://user-images.githubusercontent.com/3390842/54522494-

[2019-04-15 19:28] jvacek opened #46 "check runs ECHO instead of echo"
**Describe the bug**
ECHO is not a valid command on bash

**To Reproduce**
1. run `$NETKIT_HOME/check`
2. `./check: line 18: ECHO: command not found`

**Expected behavior**
the output of `echo $NETKIT_HOME`

**~~Screenshots~~**
~~If applicable, add screenshots to help explain your problem.~~

<details>
<summary>"check" Command Output</summary>
[code]
</details>

[2019-04-15 19:29] jvacek commented on #46
https://github.com/KatharaFramework/Kathara/blob/20d492d4d1407ef04019048705b5aef6e823d626/bin/check#L18

yeet

[2019-04-17 10:35] Kidel commented on #46
Thank you, it should be fixed.
Funny how some linux distros are more case sensitive compared to others :)

[2019-04-17 10:35] #46 closed, assigned to nobody

[2019-04-17 10:36] Kidel commented on #45
Did you solve your issue? I'm closing for now, please contact us again if you need.

[2019-04-17 10:36] #45 closed, assigned to nobody

[2019-06-21 18:32] edge33 opened #51 "Connect Lab to Internet"
Is there a way in Kathara to access Internet from the Lab, in a similar fashion to the way we are used to in Netkit?

What I usually do in netkit is to set a tap interface on the host machine and route all the traffic going to the lab to the first node of the lab itself.

[2019-06-22 08:07] Kidel commented on #51
You can use the `bridged` option in `vstart` or in `lab.conf` (eg: `pc1[bridged]=true`), as stated in the **Manual** section of the readme. This will add an an interface that connects to the host machine.

[2019-06-22 08:07] #51 closed, assigned to nobody

[2019-07-09 03:23] nhvlong opened #53 "lstart for only one virtual machine"
Hello everyone,

I have a question about the starting a virtual machine with Kathará.

The question is: How can I use the lstart command to start only 1 machine instead of all of the machine I declared.
Example: I created the folder named TestLab. In this folder, there are 2 subfolder named PC1 and PC2. Moreover, I had the .startup files for them. But, I cannot use lstart PC2 as I used before in N

[2019-07-09 07:35] Kidel commented on #53
You can either use vstart or start a lab with 2 nodes to later delete.one

[2019-07-09 17:08] nhvlong commented on #53
Sorry, maybe my question is not clear. What I wanted is to start one or two or more specified nodes instead of all of them. For example: I had 10 nodes (from node 1 to 10) in my lab, but I want to start only node 2 and node 3 in this lab (to test them firstly). How can I do that in Kathará? Because in Netkit, I can easily do that by using _lstart node2 node3_

[2019-07-09 20:53] Kidel commented on #53
You can do something similar with 1 node only (lstart node1)

[2019-07-10 03:32] nhvlong commented on #53
Here is the result when I tried to start only the PC1 instead of starting all of the nodes in my lab.
![Screen Shot 2019-07-10 at 10 30 14](https://user-images.githubusercontent.com/9139943/60938355-dece5300-a2fd-11e9-9cec-159d0f20ce39.png)

[2019-07-10 07:33] Kidel commented on #53
It may be a bug with the current version. Please provide the version you're using and the contents of your lab

[2019-07-11 16:50] nhvlong commented on #53
I think I got the answer myself. Because I named my node with a or several Capitalize Letter(s), Kathará won't start successfully. For example, I named my node is **PC3** with 'P' and 'C' are Capitalize Letters. Hence, I got the bug "Please specify at least a machine". When I change my node's name to **pc3** with no capitalize letter, everything is going well.

Could you please show me how to modi

[2019-07-11 20:39] Kidel commented on #53
Unfortunately Docker only allows lowercase names for containers, so that's working as intended.

[2019-08-05 02:52] nhvlong opened #55 "How to access .pcap file in virtual machine Kathará from host machine"
Hello everyone,

I have a question about sharing file between Kathará virtual machine and host installed Docker. _How can we access a file in Kathará VM from host_? As the previous Netkit, we can access files from host by using /hosthome (shared folder between VM and host). But how about the Kathará in case access the file in VM without copying it from VM to host?

Thanks a lot.

[2019-08-05 07:42] Kidel commented on #55
Hi,
the `hosthome` folder is still mounted from your host home. The only difference from netkit is that `hostlab` is not mounted but copied instead.

[2019-08-05 07:50] Kidel commented on #55
A quick follow up.
The mount is disabled if you're under linux/mac and you're not using the wrapper (happens if you edited the config or you installed with `--admin`). You still get the copy of `hostlab`, while the mount of `hosthome` should be always enabled on windows (and on linux/mac if the wrapper is enabled).

[2019-08-05 07:52] Kidel commented on #55
https://github.com/KatharaFramework/Kathara/blob/master/bin/python/netkit_commons.py#L254

https://github.com/KatharaFramework/Kathara/blob/master/bin/wrapper/netkit_dw.c#L158

[2019-08-27 12:44] anemos-sf opened #56 "vstart not working properly"
Typing the command (from Kathara Manual])

vstart --eth 0:A --eth 1:B pc1

actually creates a new VM only with one (eth0) network interfaces

Both eth0 and eth1 were expected to be created.

[check.txt](https://github.com/KatharaFramework/Kathara/files/3546107/check.txt)

[2019-08-28 13:28] anemos-sf commented on #56
Solved: the following command creates a VM with three net interfaces (A, B and C)

vstart --eth 0:A 1:B 2:C pc99

[2019-08-29 11:08] Kidel commented on #56
Yes, I was about to tell you that `--eth` takes a list. I'll make sure to add an example in the manual, thank you.

[2019-08-29 11:08] #56 closed, assigned to nobody

[2019-09-12 09:49] mostafaei opened #57 "Different interface name connection fails?"
Hi all,

I am creating a simple interdomain topology with two border routers. The framework cannot connect two interfaces of two border routers (C-----eth1--R2--eth0--------B--------eth1--R1--eth0--------A).  I cannot ping from eth0 of R2 to eth1 of R1. Am I doing something wrong?

Here is the script generated by Kathara lab generator;
#! /bin/sh
# Remember to use 'chmod +x' (o 'chmod 500') on the

[2019-09-12 11:59] lorenzo93 commented on #57
Hi,

I think you just mispelled the IP addresses of the interfaces.
A router needs to separate two different subnets but you place router1 with both the interfaces on the same subnet (10.0.0.0/24).
In your figure you have three collision domains (A, B, C) so you'll need to assign a different subnet for each of them to work correctly.

[2019-09-12 12:18] mostafaei commented on #57
thanks. ;)

[2019-09-12 13:01] #57 closed, assigned to nobody

[2019-10-14 08:09] alexdu59 opened #59 "Major Security Issue with Kathara install"
Hi,

Here are 2 local escalation vulnerabilities because `netkit_dw`is insecure and installed as **setuid root**.

# Vuln 1: weak string comparisons in `netkit_dw.c`

Exploitation:
[code]
Cause of this vulnerability : https://github.com/KatharaFramework/Kathara/blob/master/bin/wrapper/netkit_dw.c#L92
length does not check user supplied length (it can be greater, but still match the comparison).

#

[2019-10-14 09:05] Kidel commented on #59
Hi @alexdu59 thanks for your submission!
Indeed those are 2 big oversights on my part. Thank you for pointing them out so that users are aware of them.

However this week the team will be launching the new version of Katharà that won't be using the wrapper at all.

As we're still dealing with docker, I'd be very happy if you could also take a look in the new version once it's publicly available. I

[2019-10-14 09:06] Kidel commented on #59
I'm leaving the issue open until the new version is out, so that it's visible.

[2019-10-14 09:06] #53 closed, assigned to nobody

[2019-10-14 09:06] #55 closed, assigned to nobody

[2019-10-15 11:36] mostafaei opened #60 "Assign a dedicated cpu core to each container"
I need to assign a dedicated number of cores to each container in the network topology due to the performance issues. I know that it is possible to assign a dedicated amount of memory to each container but not sure about the number of cores. Looking at docker documentation I found this:
https://docs.docker.com/config/containers/resource_constraints/

which for example says "If you have 1 CPU, each

[2019-10-15 12:40] Kidel commented on #60
It's certainly possible with docker commands, but those were not in the initial netkit interface, so they were not implemented in Katharà. Maybe @lorenzo93 can add them in the new version that's going to be released next week, or push them in a later update.

[2019-10-15 15:37] mostafaei commented on #60
thanks for the update!!!

[2019-11-03 21:39] lorenzo93 commented on #60
Hi,
we published the new version of Katharà.
It is now possible to specify the cpus assigned to each machine.

You can specify this either using `kathara vstart --cpus 0.5 -n machineName` or putting a line like this in your lab.conf file:
[code]

For further documentation please refer to the "Manual" section of the wiki

[2019-11-03 21:51] lorenzo93 commented on #59
Hi @alexdu59 ,
we released now the new version of Kathará.

Both the vulnerabilities you figured out are now fixed.
The wrapper is no longer existing and the python code will use the Docker API to launch containers.

The need of setuid is now replaced with setgid with the "docker" group. This is needed because this software needs to run on some shared computers where the user do not have sudo acce

[2019-11-04 11:46] mostafaei commented on #60
Thanks for the notification!

[2019-11-04 12:07] #60 closed, assigned to lorenzo93

[2019-11-06 21:17] notprime opened #63 "FileNotFoundError"
I get this error when I launch kathara.
I have windows education and followed everything reported on the installation guide.
I also tried doing a kathara check but I get the same error
![kathara](https://user-images.githubusercontent.com/42040779/68338640-3da4ad00-00e3-11ea-8c4a-6ca8a3ae67d2.png)

[2019-11-07 08:24] aliceinland commented on #63
I have the same issue with macOS and I also followed the guide step-by-step.
Did you fix the problem?

[2019-11-07 08:44] Skazza94 commented on #63
Hello, we're addressing this issue right now. A fix will be released in the next hours.

[2019-11-07 08:54] notprime commented on #63
Thank you! I just thought it was a problem of mine, cos I had zero problem installing and running everything on my laptop, problem arised on my computer.

[2019-11-07 11:23] Skazza94 commented on #63
Hi,
a new version of Kathará has been released (v. **2.0.9**). This will fix the issue.

Sorry for the inconvenience and thanks for pointing out the bug.

[2019-11-07 11:23] #63 closed, assigned to nobody

[2019-11-07 18:44] S3ntinelX opened #64 "Compiling for non debian Linux distributions"
Is there any way to compile Kathara on Linux distributions which are not based on debian specifically Arch.

[2019-11-07 19:58] Skazza94 commented on #64
Hi, unfortunately we're currently only supporting Debian-based OSes.

However, if you know how to build an Arch package you can still do it on your own. You can replicate how we build/pack our .deb file, scripted [here](https://github.com/KatharaFramework/Kathara/tree/master/scripts/Linux/debian).

If you're able to build an arch package, please make a pull request with the scripts.

Thanks,
Maria

[2019-11-18 10:36] #59 closed, assigned to nobody

[2019-11-18 10:40] Skazza94 commented on #64
Since the last reply was 11 days ago I'm considering the issue as solved or no longer relevant.

[2019-11-18 10:40] #64 closed, assigned to nobody

[2019-12-05 08:51] chanduthedev opened #67 "How to create a symmetric NAT"
Hi Kathara team,

Thank you for such a nice tool.
I would like to know the documentation or steps to create symmetric NAT.
I can able to create router, but could not able to create NAT.

My apologies if it is basic question.

Thanks in advance.

[2019-12-05 17:26] Skazza94 commented on #67
Hi @chanduthedev,
you can build a symmetric NAT using `iptables` rules.

You can place those rules into the machine startup files, so they'll be run at the machine creation. You can find those commands with a quick [Google search](https://www.google.com/search?client=firefox-b-e&q=symmetric+nat+iptables).

[2019-12-05 17:26] #67 closed, assigned to nobody

[2019-12-09 01:14] chanduthedev opened #68 "How to communicate between host machine and virtual pc1?"
Hi Team,

I have created a one virtual pc1 as shown in the below pic. My use case is one application is running on pc1 and I would like to access that application on host machine. How to communicate between host machine and pc1.  Please help on this.

<img width="250" alt="Screenshot 2019-12-09" src="https://user-images.githubusercontent.com/6205951/70400082-c5276800-1a63-11ea-87b1-5da69460e201.pn

[2019-12-10 08:04] chanduthedev commented on #68
Is it possible to access a application running in virtual pc1 from host machine using browser? if possible please let me know the steps/settings to access in the browser from host machine.

Thanks

[2019-12-11 13:14] Skazza94 commented on #68
Hello,
to bridge the application from the container to the host, you can add the `port` option to `pc1` in the `lab.conf` file. Read the man pages for a more detailed explanation [here](https://www.kathara.org/man-pages/kathara-lab.conf.5.html).

[2019-12-12 05:46] chanduthedev commented on #68
@Skazzino thank you for the reply.
As per the man page I edited the lan.conf from existing lab [kathara_lab_arp](https://github.com/KatharaFramework/Kathara-Labs/tree/master/Basic%20Topics/ARP) as below.

lab.conf:
-----
r1[0]="A"
r1[1]="B"

r2[0]="C"
r2[1]="B"

pc1[0]="A"
pc1[bridged]=true
pc1[port]=8088

pc2[0]="C"

pc3[0]="C"

pc1.startup:
---
ifconfig eth0 195.11.14.5 up
#route add default gw

[2019-12-12 09:31] Skazza94 commented on #68
Hi @chanduthedev,
the application in `pc1` should run on port 3000. As described in man pages, when you use the `port` option, the port 3000 of the container will be bound to the port specified in the option.

In this case, port 3000 will be bound to port 8088 on the host.

[2019-12-12 10:12] chanduthedev commented on #68
It was working fine. I can able to access pc1 from host machine. Thanks for the help.

I am setting lab from [kathara_lab_arp](https://github.com/KatharaFramework/Kathara-Labs/tree/master/Basic%20Topics/ARP)  structure like below and  I want to pass the data to pc2 from host machine via pc1.

<img width="200" alt="image" src="https://user-images.githubusercontent.com/6205951/70702861-f45f0300-1d09

[2019-12-16 03:18] chanduthedev opened #70 "How to install kathara on centOS 8?"
Hi Team,

Can you please let me know how to install Kathara on centOS 8? I referred [this](https://github.com/KatharaFramework/Kathara/wiki/Linux) from documentation, but could not able to find installation steps for centOS from that link. Please help on this.

Thanks

[2019-12-17 05:16] chanduthedev commented on #68
Thanks for the help. Below configuration in pc1.startup file worked.

pc1.startup:
---------
ifconfig eth0 195.11.14.5 up
route add default gw 195.11.14.1
route add -net 172.17.0.0/16 gw 0.0.0.0

[2019-12-17 05:16] #68 closed, assigned to nobody

[2019-12-17 10:07] Skazza94 commented on #70
Hi, as already explained in #64, we're currently only supporting Debian-based OSes.

However, if you know how to build a CentOS package you can still do it on your own. You can replicate how we build/pack our .deb file, scripted [here](https://github.com/KatharaFramework/Kathara/tree/master/scripts/Linux/debian).

If you're able to build a CentOS package, please make a pull request with the script

[2020-01-02 06:08] chanduthedev commented on #70
Thank you for the response.

[2020-01-02 06:08] #70 closed, assigned to nobody

[2020-01-14 09:52] Sunsapience opened #72 "traffic analysis"
I'm interested in kathara, it's a great simulation tool. I now try to use it to simulate a routing network for network traffic analysis. However, currently only ping mode can be used. The amount of this traffic is too small to meet the requirements. Do you have a better way? Many thanks.

[2020-01-14 11:12] Kidel commented on #72
Hi, thanks for being interested in Katharà.
You can use the current system to add any script to a network node and run a startup command to start it.
What you need is the [lstart](https://www.kathara.org/man-pages/kathara-lstart.1.html) command in a [lab directory](https://www.kathara.org/man-pages/kathara-lab-dirs.7.html) containing your node folders (with any script you want) and the [lab.conf f

[2020-01-14 12:39] Sunsapience commented on #72
Thank you very much for your reply.
I try to write a Python script (send packets using the scapy module) in the node directory, and then run the Python file in the node's startup file. But the node's xterm says: ImportError: No module named 'scapy'. I guess it may be that the module is not in the docker images, and I may need to regenerate the images.
So, do you have a better suggestion for the ab

[2020-01-14 12:47] lorenzo93 commented on #72
Hi,

You just need to install scapy in the node.
Before running your python script, in the startup file, just run a `pip install scapy` to install scapy.
If you have other dependencies it would be better to install them from a `requirements.txt` file just like you would do in your machine

[2020-01-15 02:35] Sunsapience commented on #72
My initial thought was this. I want to do "pip install XX" operation in the node's xterm. However, there is no pip command. I tried "apt-get install python-pip (python3-pip)" with no success, which may be the cause of the network. I am using the intranet, so I should find their offline installation packages. But this has another problem, how do I send the installation package to the node.
I'm not

[2020-01-15 06:52] Kidel commented on #72
You need to specify startup operations in the startup file of your node. E.g. your node is called 'foo' and you have a 'foo.startup' file in your lab folder.

Also in order to use apt or pip you need to have that node bridged (`foo[bridged]=true` in your lab.conf if I recall correctly, check the manual), otherwise the node is isolated from the internet and you can't download anything.

Another way

[2020-01-16 01:20] Sunsapience commented on #72
Thank you very much for your suggestion, it helped me a lot. This issue has now been resolved.
Thanks to you and your team.

[2020-01-16 01:21] #72 closed, assigned to nobody

[2020-01-17 03:38] Ellie-fans opened #74 "interface and convenience"
Hello.
I am using kathara and it is a nice tool.
There are two issues that bother me now, and I want to discuss them with you.
One is that I need to write multiple configuration files each time. Is there any more convenient operation to avoid these operations. For example, I want to build an upper-level interface, and run it through the interface instead of the configuration file.
The other is how

[2020-01-21 18:48] ejeandel opened #75 "Make it possible to use sysctl in the configuration file"
Apologies if I'm using bad terminology, I'm not really familiar with the intrinsics of docker.

As you well know, sysctl does not work inside the container. However it is possible to fix some options when the container is launched. In particular you fix  net.ipv4.ip_forward=1 for obvious reasons, and
net.ipv4.icmp_ratelimit=0

I would like to have the possibility in the configuration file to fix s

[2020-01-21 18:51] Kidel commented on #75
@lorenzo93 if I'm not mistaken, lstart options are indirectly mapped to vstart parameters. For this reason I'd suggest a single word with no symbols.

If an option is the only way to achieve this result.

[2020-01-21 18:59] Skazza94 commented on #74
Hi @c21594 and thanks for using Kathara.

About the first question, I don't understand what you want to obtain.
About the second one, it is possible to share files/folder with from the container to the host putting them into the container's `/shared` folder.

[2020-01-21 19:00] lorenzo93 commented on #75
Hi @ejeandel,

You can add sysctl parameters in a single machine even without modifications in the Kathara source.
If you put them in the `<machine_name>.startup` file they will be executed inside the machine. To make this work you need to start your lab with the `--privileged` parameter that starts the container in privileged mode (allowing you to change the kernel parameters).

The only drawback

[2020-01-27 15:37] rfrenken commented on #75
Hi,

We were using Netkit for some time at our university too and are enthousiast to use much leaner Kathara. However, when trying to set ipv6 forwarding I get the same error as described above.
I've put the sysctl command in startup file.
However, running kathara lstart in privileged mode doesn't help as when I do it the xterms in my lab are not opening anymore.
I've got the following warning on

[2020-01-27 18:43] lorenzo93 commented on #75
Hi,

we've disabled the terminal opening on privilege mode due to a problem with Wayland (an X.org alternative).
The devices went correctly up and running, that warning is just to remember this behaviour.
You can still access the devices with the `kathara connect` command ([man page](https://www.kathara.org/man-pages/kathara-connect.1.html).

Let me know if you still have problems :)

[2020-01-27 18:47] ejeandel commented on #75
I'm not a big fan of using the privileged mode, tbh, especially when it is not technically necessary. I'm of the opinion that opening a subset of the sysctl to the public (notably the whole .net subspace should be safe) seems a better solution, especially as docker makes it possible.

[2020-01-28 08:16] rfrenken commented on #75
Hi,

I do agree with @ejeandel concerning opening a subset of sysctl. If you want to experiment with networks, you should be able to change .net subspace easily. Also, we'd like to use Kathara for teaching (as we used Netkit) and here is ease of use also very important. If I have a lab with 6 nodes and then I have first start all of them in privileged mode and then connect to the one that I need t

[2020-01-28 14:09] Skazza94 commented on #75
Hi @ejeandel and @rfrenken,
and thanks for the issue.

For me, it is not clear what is the right idea to solve this problem.
There are three solutions:
1. Put a setting into the `kathara.json` file. As example:
[code]
Of course, the setting is applied on each Kathara device started.
2. Put an option for the machine in the `lab.conf` file. As example:
[code]
This gives the flexibility to choose on

[2020-01-28 18:32] ejeandel commented on #75
I much prefer something that can be done per machine (or per lab) rather than for all labs, ie solution 2.

[2020-01-29 07:31] rfrenken commented on #75
I like the second solution (via configuration file) more, as it gives more flexibility.

[2020-01-29 09:28] Skazza94 commented on #75
Okay then.

@ejeandel can you open a pull request to implement the support for `sysctl` in the `lab.conf` file?

Thanks!

[2020-01-29 09:30] Skazza94 commented on #74
Since the last reply was 8 days ago I'm considering the issue as solved or no longer relevant.

If you need further support, you can open another issue.

Thanks!

[2020-01-29 09:30] #74 closed, assigned to nobody

[2020-02-12 14:28] #75 closed, assigned to nobody

[2020-02-17 13:00] vitome opened #83 "Critical error when .deb files in device directory"
**Describe the bug**
I just want to install some .deb packets at startup, copying them in the directory of a device. However, I receive this error: CRITICAL - object of type 'NoneType' has no len()
In the specific, I want to install udpchd, then I copied the files busybox_1%3a1.22.0-19+b3_amd64.deb  udhcpd_1%3a1.22.0-19+b3_amd64.deb
in my pc1 directory

**To Reproduce**
Steps to reproduce the beha

[2020-02-17 22:24] #83 closed, assigned to nobody

[2020-02-18 19:42] Skazza94 commented on #83
Hi. As a friendly reminder, the bugfix for this issue has been included in the latest Kathara release (v2.2.2).

[2020-02-18 19:43] Skazza94 commented on #75
Hi,
As a friendly reminder, this feature has been included in the latest Kathara release (v2.2.2).

[2020-02-21 23:33] i404788 opened #84 "Secondary interfaces not available with sysctl"
**Describe the bug**
When running with sysctl secondary interfaces (eth1, etc; eth0 works fine) cannot be used, as it is not available in `/proc/sys/net/*/conf/`

I was wondering if there is a way to add the interfaces to docker before docker applies sysctl.

**To Reproduce**
Steps to reproduce the behavior:
1. Create device with 2 interfaces (network groups)
2. Add `[sysctl]="net.ipv6.conf.eth1.a

[2020-02-24 19:35] i404788 commented on #84
After looking into it some more, https://github.com/moby/moby/issues/25181 needs to be fixed before we can do anything on kathara

[2020-02-24 22:53] Skazza94 commented on #84
Hi @i404788,
sorry for the late reply. Yes, we can't attach network interfaces before the container is started due to the Docker non-deterministic bug when assinigning a container to multiple networks.

We can't fix it until an official Docker patch.

[2020-02-24 22:53] #84 closed, assigned to nobody

[2020-02-28 14:45] Enrico204 opened #85 "Docker API intenal server error deploying a lab"
**Describe the bug**
While deploying a lab with `lstart` an error message (coming from Docker HTTP API) shows out, and the deployment stop.

Maybe is related to the way Kathara calls Docker API, see a similar issue here: https://github.com/projectcalico/calico/issues/746#issuecomment-463112162

**To Reproduce**
Steps to reproduce the behavior:
1. Download labs from https://github.com/vitome/pnd-la

[2020-02-28 15:08] Enrico204 commented on #85
Never mind, there was some previous data in Docker left in a previous attempt. `docker system prune -f` cleaned everything.

[2020-02-28 15:08] #85 closed, assigned to nobody

[2020-02-29 20:16] CedricDly opened #86 "Question : About /shared and /hostname directories"
Hi,

I don't understand how the kathara settings number 4 and 5 work. When launching a new lab with default settings, I can access the /shared and /hostname folders. I thought that if I was disabling the "automatic mount" option, these folders would disappear from the virtual machines, or at least be unaccessible, but I still can access them when these options are desactivated (I checked the ~/.co

[2020-03-02 12:58] Skazza94 commented on #86
Hi @CedricDly,
the correct behavior is that disabling `/shared` or `/hosthome` folder, it is displayed in the container but not bound to any volume (so it is empty).

However, there was a bug that was causing the reported behavior (`/shared` and `/hosthome` mounted even when disabled) and it has been fixed and will be included in the next Kathara release.

Thanks for reporting the bug and sorry fo

[2020-03-02 13:13] #86 closed, assigned to nobody

[2020-03-28 12:34] y0k4i-1337 opened #87 "Spawn a second terminal on startup"
**Is your feature request related to a problem? Please describe.**
In the original Netkit, if i have something like `pc1[con1]=xterm` at my `lab.conf`, it would spawn two terminals for `pc1`. This options seems not to work on Kathara or I might be missing something...

**Describe the solution you'd like**
I would like to have the same behaviour from Netkit, so I may have two terminals for chosen m

[2020-03-28 13:10] lorenzo93 commented on #87
Hi @mchoji
I understand your use case, and honestly it happens also to me sometimes but I've never heard of opening two terminals on Netkit.
I'm sorry but I don't think we are going to add this option to Kathará soon.
This because, expecially in complex labs, we are even thinking about disabling the `open terminals` option by default (you can still change that behaviour in `kathara settings`).

Fo

[2020-03-28 13:44] y0k4i-1337 commented on #87
I see...well, maybe I'll try to add it in a fork when I have some time then.
Just for noting, this is implemented in Netkit's `vstart` (see http://wiki.netkit.org/man/man1/vstart.1.html). Netkit allows at most 2 consoles via --con0 and --con1 options :)

@lorenzo93 I think you can close this issue. Thanks!

[2020-03-28 13:49] lorenzo93 commented on #87
Hi @mchoji

Maybe I was not clear enough on my last reply, I'm sorry for that.
Our developer team it is not going to implement this option in the near future, but if you would like to implement it yourself and make a PR, we are always welcome to new features. :)

If you choose this option, remember also to update the Kathará man-pages in order to let others know the option.

[2020-03-28 14:00] y0k4i-1337 commented on #87
Oh, don't worry @lorenzo93! I'm gonna try to add this as soon as I can because I used to rely on it in several labs with my students. I have moved to Kathará this year so I'm still getting used to it.
I'll surely make a PR if I manage to get it to work.

Thanks for your attention!

[2020-03-28 14:28] Skazza94 commented on #87
Hi @mchoji and thanks for you issue.
If you want to implement this, I was thinking at this solution.

Add a `lab.conf` machine option called `num_terms` which indicates how many terminals you want to open for that machine. Default is always `1` (so a terminal will always open as standard behavior, if `--noterminals` is not specified of course).

But you can do: `pc1[num_terms]=3` to open 3 termina

[2020-03-28 15:00] y0k4i-1337 commented on #87
Hi @Skazzino

This seems nice and even better than the original approach used by Netkit. In fact, I particularly have never used other values for `con1` besides `xterm` to spawn a second console. Moreover, I think the behaviours provided by values like `pty`, `none` and `port` (Netkit) can be achieved by other means in Kathará.

Thanks for your suggestion!

[2020-04-13 22:17] thanhledev opened #88 "vstart missed --privileged flags in source."
It seems that the vstart command of kathara missed the privileged args in the code.

***Steps to reproduce the behavior:***
1. I have created a custom docker image for vyos at thanhledev/vyos:0.0.3. It works when using these following commands:
- docker run -d --name vyatta --privileged thanhledev/vyos:0.0.3
- docker exec -it vyatta /bin/vbash
I can see the configuration pre-installed by using: "s

[2020-04-14 09:18] Skazza94 commented on #88
Hi @thanhledev,
thanks for pointing out the issue. We already noticed that there's a problem in the code and we'll fix it as soon as possible!

Thanks.

[2020-04-15 11:14] lorenzo93 commented on #88
Hi @thanhledev,

we fixed the bug and released a new version (2.2.3). If you are on Windows or MacOS you can already download the new release, if you are on linux will be available in a couple of hours (launchpad times to build and deploy a package).

[2020-04-15 11:14] #88 closed, assigned to nobody

[2020-04-27 17:02] whatever4711 opened #89 "Installation on Ubuntu 20.04 - Focal"
**Describe the bug**
Try to install Katharà with `apt` results in an unmet dependency

**To Reproduce**
Steps to reproduce the behavior:
1. Install a clean Ubuntu 20.04 system
2. Install docker with `apt install docker.io`
3. Add Katharà to the keyring `sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 21805A48E6CBBA6B991ABE76646193862B759810`
4. Add repository `sudo apt-key adv --keys

[2020-04-28 13:04] Skazza94 commented on #89
Hi @whatever4711,
thanks for the issue.

We're still compiling Kathará on Ubuntu Eoan (19.10) so we never checked the compatibility with 20.04 and beyond. However, after this issue we'll proceed to fix it as soon as possible.

Mariano.

[2020-04-28 15:50] Skazza94 commented on #89
Hi @whatever4711,
we uploaded a new version of Kathará (2.2.5) on Launchpad which is compatible with Ubuntu Focal.

Thank you for reporting the problem. I'll close the issue.

[2020-04-28 15:50] #89 closed, assigned to nobody

[2020-04-29 11:27] ghost opened #90 "Python packaging using egg files"
**Is your feature request related to a problem? Please describe.**
I'm using kathara for completing university assignments and in my class, people use very different kinds of linux distributions.
However, the only supported distribution of this program is debian.
Cloning the software, installing the dependencies and running the software on a non-debian based distribution works fine, at least in my

[2020-04-30 10:41] ghost commented on #90
As an alternative, maybe create a section in the wiki on how to run/install this program from source on linux.

Maybe just like following:

---

0. Required tools
- python3
- pip
- git

1. Clone the repository to /opt
[code]

2. Install all required dependencies using `pip`
[code]

3. Create a simple bash script to run kathara in `/usr/bin/` called `kathara`
The content of the bash script shall be

[2020-04-30 11:24] lorenzo93 commented on #90
Hi @enei3peX ,

Kathará works mainly with Docker. By default Docker is not accessible from non root users and this could be a problem.

The packed version of Kathará set the `setuid` flag to the main executable so it can run Docker containers even without having root privileges.

Your idea to create a guide on how to execute it from source is great but it works only if one of this two option is sa

[2020-04-30 11:39] ghost commented on #90
I've never created an Arch PKGBUILD, however this is a perfect situation to learn it :)
If I have some free time this weekend, I'm going to invest some of it to build a PKGBUILD.

Regarding your comments on the installation guide, maybe just add those comments to the wiki section.
I'd really like to have this installation guide to simplify the installation process for future generations of student

[2020-05-03 00:19] saxsoares opened #91 "SDN Not working - Kathara installed 02MAY2020 - Ubuntu 20.04 LTS"
Hi,

I just installed Kathara using apt but the virtual machines can't find ovs-vsctl or ryu-manager commands. I also rememeber that some time ago (long time), in an old Ubuntu version, I got OpenVswitch working.

What I have to do for get SDN tools working?

[2020-05-03 02:20] saxsoares commented on #91
I found out that Kathara/quagga was my default image. So I use 'kathara settings' to change to kathara /sdn image. This solve my problem, but you say in another issue that the base image was able to run SDN tools.

Sorry for my bad english.

[2020-05-03 16:17] lorenzo93 commented on #91
Hi @saxsoares ,

I'm sorry for the old issue, last October we released a new version of Kathará that was completely re-written and for that purpose we built also dedicated images (in previous version the image name was hard-coded into Kathará) to have a minor impact on disk usage.

What you achieved  is correct, to run SDN you need to switch the default image to `kathara/sdn`. Remember also that y

[2020-05-09 00:22] pedrofran12 opened #92 "kathara VMs have /proc/sys/net/ with readonly permission"
**Describe the bug**
VMs launched with kathara/docker have /proc/sys/net/ files with readonly permissions.

I tried to extend kathara/quagga image. When making changes to /proc/sys/net/ files I was unable because it has readonly permissions.
I searched online and found that running a docker image with "--priviledged" flag would allow to overcome this issue. I tried and I was able to make the chang

[2020-05-09 16:53] pedrofran12 commented on #92
Hi,
I have discovered today that `kathara lstart` has a `--privileged` flag. By using it I am allowed to make changes to /proc/sys/net/ files. However by using this flag, the VM terminal windows don't show up automatically, meaning that I need to "`kathara connect`" to each single VM.
Why is there such restriction and how can I launch automatically all VM terminals?
![Captura de ecrã de 2020-05-09

[2020-05-09 16:55] Skazza94 commented on #92
Hi @pedrofran12,
you can specify `/proc/sys/net/` values into the `lab.conf` file.
As an example:
[code]
Will set `net.ipv4.fib_multipath_hash_policy` to 1 to machine called `machine_name`. This do not require `--privileged` flag. Using this method the `/proc/sys/net/` is still read-only, so you can't change values at runtime.

Terminals are not opened automatically when using `--privileged` flag

[2020-05-11 08:52] Oelmounkad opened #93 "Kathara : AttributeError: 'Setting' object has no attribute 'deployer_type'"
**Describe the bug**
So any kathara command (check / lstart ....) won't work in my lab and it shows the error below:

Traceback (most recent call last):
  File "/usr/lib/kathara/kathara.py", line 105, in <module>
  File "/usr/lib/kathara/Resources/setting/Setting.py", line 46, in get_instance
  File "/usr/lib/kathara/Resources/setting/Setting.py", line 64, in __init__
  File "/usr/lib/kathara/Reso

[2020-05-11 09:46] #93 closed, assigned to nobody

[2020-05-12 11:17] #91 closed, assigned to nobody

[2020-05-17 18:49] pedrofran12 commented on #92
Hi @Skazzino,
Thank you for the answer.
I have tried the suggested solution and it works :+1:

[2020-05-17 18:49] #92 closed, assigned to nobody

[2020-05-19 22:00] saxsoares opened #94 "Custom Images not working properly"
**Describe the bug**
I did the steps to extends Kathará Images (https://github.com/KatharaFramework/Docker-Images). I could installl packages without problem. But theses packages don't work after installation (inside a vm, or even when docker connected by docker exec ..... bash.

I can create new files when I edit the images, and these files will exists inside vm machines that uses the changed ima

[2020-08-06 19:59] gmelodie commented on #59
@lorenzo93 Could you link me to the commits where the vulns have been solved?

[2020-08-06 20:10] Kidel commented on #59
From version 2.0.3 (check the tags on master branch or the releases).

It's basically a complete rewrite from there, so linking a specific commit would be pointless.

[2020-08-13 19:05] DiegoBulhoes opened #100 "Integrating Kathará with Docker Swarm"
**Is your feature request related to a problem? Please describe.**
Difficulty using Kathará with more than one worker.

**Describe the solution you'd like**
Integrating Kathará with Docker Swarm, so that containers can use all nodes quickly and easily since the responsibility for the distribution of the containers will rest with Docker Swarm.

**Describe alternatives you've considered**
Configure

[2020-08-14 13:32] Skazza94 commented on #100
Hi @DiegoBulhoes,
actually there are no plans to introduce Docker Swarm support (since there are several issues with distributing custom Docker network plugins across a cluster, and we're using our own network plugin).

However, we're actively developing a Kathará version which runs on Kubernetes (called Megalos). Source code is in [this branch](https://github.com/KatharaFramework/Kathara/tree/new

[2020-08-14 13:32] #100 closed, assigned to nobody

[2020-10-05 07:44] DavideTomasella opened #101 "Error during creation of Kathara machine: iptables not found."
**Describe the bug/how to reproduce**
When you try to start a new laboratory or a single machine with Ethernet connection (`kathara vstart -n pc1 --eth 0:A`) in Katharà 2.2.3 on Windows 10 using Docker Desktop this error appairs:
[code]
In the machine (with no network configured) the output of `iptables --list` is:
[code]
while `iptables --version` returns `iptables v1.6.0`.
The containers created

[2020-10-05 12:09] lorenzo93 commented on #101
Hi @DavideTomasella ,

The problem is related to the usage of Docker with WLS2 backend instead of Hyper-V backend.
I've created a patch, in the afternoon we'll release a new version with this patch.

Thanks for pointing out the issue.

[2020-10-05 15:39] lorenzo93 commented on #101
I've released the new version.
In `kathara settings` there is a new flag that has to MANUALLY be enabled when you are executing Kathará with WLS2.

Please tell me if it solves the problem.

[2020-10-05 16:44] DavideTomasella commented on #101
Thanks @lorenzo93. Now it seems to work properly.

[2020-10-05 17:04] #101 closed, assigned to nobody

[2020-10-06 08:33] MaryTB commented on #101
It works fine for me too....

[2020-10-12 08:48] lazypanda19 opened #102 "Error while installing on windows"
Hello, i tried to run "kathara ltest" but there is an error like this

500 Server Error: Internal Server Error ("NetworkDriver.CreateNetwork: unable to enable rule:  (iptables failed: iptables --wait -A FORWARD -i kt-64f6f532058c -o kt-64f6f532058c -j ACCEPT: iptables v1.8.2 (nf_tables):  RULE_APPEND failed (No such file or directory): rule in chain FORWARD
 (exit status 4))")
![Capture](https://u

[2020-10-12 14:29] Skazza94 commented on #102
Hi @lazypanda19,
please refer to issue #101 to fix this problem

[2020-10-12 14:29] #102 closed, assigned to nobody

[2020-10-13 15:45] lazypanda19 opened #103 "WinError 2"
Hello, i cant run the vstart syntax, there is an error like this
![unknown](https://user-images.githubusercontent.com/72733558/95883958-ba391480-0da5-11eb-96df-255b34b45332.png)

[2020-10-13 17:21] jimmad123 opened #104 "Unable to install on ARM64"
**Describe the bug**
I am trying to install Kathara on a Raspberry Pi 3B+ (running a 64-bit quad-core ARMv8 processor). I have followed instructions to install and verify that Docker is working and, when it comes to the final step of the Kathara installation instructions for Linux (the RPi is running Ubuntu 18.04) it says "Unable to read package kathara".

**To Reproduce**
Steps to reproduce the b

[2020-10-13 20:21] dariucc opened #105 "Docker.Core.HttpBadResponseException: {"status":"error","message":"exit status 2"}"
I installed docker following the guide.
When I use it for the first time it works without any problem, but on the first restart it crashes and it reports the attached error.
I tried to google it and I tried this solution https://github.com/docker/for-win/issues/7110 but I couldn't solve the problem.
Did anyone face my same problem and solved it?

  - Windows Version:  Version:OS 2004 Build 19041.5

[2020-10-15 08:56] tcaiazzi commented on #103
Hi @lazypanda19,
Kathará on windows is not compatible with CMD, so you have to use the PowerShell.
Moreover, you started the CMD with Administrator Privileges and it is not recommended and tested.

So try to use a PowerShell with NO Administrator Privileges and let us know.

Thanks

[2020-10-15 09:02] Skazza94 commented on #104
Hi, as stated [here](https://github.com/KatharaFramework/Kathara/blob/master/scripts/Linux/debian/control#L16), we only compile and deploy Kathará for amd64 on Launchpad.

However, if you want, you can try to compile it for arm64, and if it works we can add this architecture to the build pipeline.

To do so, pull the latest Kathará code and navigate `scripts/Linux`.
In this folder type `make docke

[2020-10-15 13:51] lazypanda19 commented on #103
Hi @tcaiazzi ,
Thanks for the response, I will try using powershell when i have a time to test it, I will tell you if the issue is fixed by this
Thank you

[2020-10-17 00:38] honoraryp commented on #105
I have the same issue, I’ve tried installing different packets on docker, like mango, and it works just fine even after a docker restart, so I think the problem is the latest version of katharà.

[2020-10-19 10:26] #90 closed, assigned to nobody

[2020-10-19 10:27] #87 closed, assigned to lorenzo93

[2020-10-19 19:48] honoraryp commented on #105
Do you, @dariucc, by any chance have a laptop with a ryzen 4000 series processor, because i have one and is the only pc that has the problem you described, the others with intel processors work just fine.

[2020-10-19 20:11] dariucc commented on #105
hello, my main PC has an i7 8550u CPU and I also tested another PC with an i7 7700hq but it had the same problem. I was wondering if it could depend on the installed version of Windows 10.
Which version do you have?

[2020-10-19 20:15] lorenzo93 commented on #105
Hi,

we investigated the problem and seems to have found a solution.
Tomorrow we'll double check and then release an upgrade.

Thanks for pointing out the bug, we'll keep you posted

[2020-10-19 20:28] honoraryp commented on #105
On my laptop i have the latest release which is the 2004, but i didn't work even before the update, on the others i have older version, i thin it is the 1909

[2020-10-19 20:30] honoraryp commented on #105
Thank you so much to you for acknowledging the problem and responding i so little time

[2020-10-20 17:16] jimmad123 commented on #104
Hi,

I have spent a great deal of time trying to compile Kathará on my Raspberry Pi, but run into many errors after running `make docker-unsigned`. It seems as though the Debian container that is created with that command is out-of-date, as there are certain packages that depend on newer builds of Python that can be installed in the container.

Just to make sure that it wasn't an ARM issue, I have

[2020-10-21 15:02] Skazza94 commented on #104
Hi @jimmad123,
could you please share the errors so we can furtherly investigate?

Thanks.

[2020-10-22 23:33] jimmad123 commented on #104
Hi @Skazzino,

The initial error comes when the command `gem install nokogiri mustache kramdown rubocop sinatra rack rake test-unit`is run within the Docker container.

This error arises as `rubocop` requires a higher Ruby version than is available in Debian 9 (the OS for the Docker build environment container) as can be seen below:

![RubocopRubyError](https://user-images.githubusercontent.com/44

[2020-10-22 23:52] jimmad123 commented on #104
@Skazzino just a short update, I have realised that the error I was seeing on my Pi in the last post was due to incorrect `Architecture` specified in the `control` file. Instead, there is now an error with `collect2`, as seen here:

![PiCollectError](https://user-images.githubusercontent.com/44371017/96941239-d3d70c00-14c9-11eb-8985-2f1de3719454.png)

I imagine you've never come across this error

[2020-10-23 11:22] Skazza94 commented on #104
Hi @jimmad123 and thanks for you time invested in doing this.
First of all, the `Makefile` of the `master` branch seems to be buggy. Please, use the `new_megalos` branch (it'll be the next release) and use that build pipeline, we changed the building stuff a little bit.

Remember to change the `Architecture` into `scripts/Linux/debian/control` and let us know

[2020-10-23 11:26] Skazza94 commented on #105
Hi @honoraryp and @dariucc,
we're still investigating (the problem seems bigger than expected).

We'll keep you updated.

[2020-10-25 09:27] edoardottt opened #106 "Dependencies errors"
**Describe the bug**
Installation process on Linux gives me these dep errors... Maybe this problem has been already solved.

**To Reproduce**
Steps to reproduce the behavior:
1. I followed exactly your Linux installation guide

**Expected behavior**
Katharà installed.

[code]

[2020-10-25 09:47] Skazza94 commented on #106
Hi @edoardottt,
seems that you have an old version of Ubuntu/Debian?

Which one do you have?

[2020-10-25 09:50] Skazza94 commented on #103
Since the last reply was 10 days ago I'm considering the issue as solved or no longer relevant.

If you need further support, you can open another issue.

Thanks!

[2020-10-25 09:50] #103 closed, assigned to nobody

[2020-10-25 10:31] edoardottt commented on #106
Sorry, I downloaded a Lubuntu ISO and I've figured out now it's Groovy 20.10.
With Focal Fossa it works fine.
Thanks for the quick answer

[2020-10-25 10:31] #106 closed, assigned to nobody

[2020-10-27 11:57] honoraryp commented on #105
I don't know if it helps, but apparently the problem appears when you enable the wls2 option in the kathara settings, at least this is the problem i encountered.
Hoping to hear from you soon

[2020-10-28 12:25] atrahtafreshi commented on #105
hello, I have the same problem too.

[2020-10-28 15:30] Skazza94 commented on #105
Hi everyone,
digging into this problem we found that it is a bug related to Docker Desktop using WSL2 (it is still unstable).
We opened an issue: https://github.com/docker/for-win/issues/9282, please up-vote it so it has more visibility.

In the meantime, you can switch to Hyper-V backend that works without any problem.

[2020-10-28 19:06] atrahtafreshi commented on #105
hi , would you please tell me how can I switch to Hyper-v ? (I am using windows 10 )

[2020-10-29 09:03] Skazza94 commented on #105
From Docker Desktop dashboard, click on Settings (the cog icon) and untick "Use the WSL 2 based engine", then click "Apply & Restart".

[2020-11-02 10:18] Baldomo opened #107 "Standard setuptools packaging for Katharà"
**Is your feature request related to a problem? Please describe.**
Currently, Katharà is configured to be built for Debian-like distros. Adding support for Python's `setuptools` packaging system will make it extremely easy to distribute the module for any system, especially other Linux distros.

**Describe the solution you'd like**
To make building (and maybe packaging too) easier for other Linux

[2020-11-02 15:00] tiamilani opened #108 "Unable to use command TC"
hello, I would like to use kathara to run different experiments with interfaces modified with the command tc to add delay and random packet dropping.
I found that is not possible to use the command with the default docker image kathara/quagga
So I created a new image with the command, but it's also required by docker to run the container with the flag "--cap-add NET_ADMIN" in order to properly wor

[2020-11-03 11:33] tcaiazzi commented on #105
Hi all!
Docker released a new stable version of Docker Desktop (2.5.0.0, https://docs.docker.com/docker-for-windows/release-notes/) that fix this issue.
We tested the new version and it seems to work well. It is only needed to upgrade  Docker Desktop.

Thanks.

[2020-11-03 11:33] #105 closed, assigned to nobody

[2020-11-03 11:44] tcaiazzi commented on #108
Hi Mattia,
As stated in [Kathara documentation](https://www.kathara.org/man-pages/kathara-lstart.1.html),  you can start the containers with the `-- privileged` flag to overcome this problem.
Rember that you have to use root privileges (or to start the powershell with administrator privileges, if you are on win) to use the flag.

Thanks,
Tommaso.

[2020-11-03 12:23] tcaiazzi commented on #94
Hi @saxsoares ,
sorry for the delay!
I tried to reproduce your issue and I noticed that some packages like "bb" and "cowsay" are installed inside the /usr/games directory. This behaviour is inherited from debian 9 on which our images are based.
To overcome this, when you install a package, try to run it. If the system does not found it, use `dpkg -L <package-name>`, to know where it is installed.

[2020-11-03 12:23] #94 closed, assigned to nobody

[2020-11-03 13:36] tiamilani commented on #108
Hi Tommaso,
I don't think the flag `--privileged` is enough, if I try to use it but when I run the command:
`tc qdisc change dev eth0 root netem delay 100ms 20ms distribution normal`
I get the error:
`Error: Qdisc not found. To create specify NLM_F_CREATE flag.`

If I run the same image in a docker container, launched with the flag `--cap-add NET_ADMIN` this doesn't happen

Thanks,
Mattia

[2020-11-03 14:07] Skazza94 commented on #108
Hi @tiamilani,
first of all, `tc` is already shipped in the `kathara/quagga` image (since it is installed in iproute2, which is a package installed in `kathara/base`). Second, the containers are all started with the `NET_ADMIN` privilege by default, as you can check [here](https://github.com/KatharaFramework/Kathara/blob/master/src/Resources/model/Machine.py#L35). Third, are you trying to run it o

[2020-11-03 14:30] tiamilani commented on #108
I forgot to post more information about my system, I'm sorry.
I'm using Ubuntu 18.04 here it is some information about my distro and kernel version:

`Linux mattia-UX510UXK 5.4.0-52-generic #57~18.04.1-Ubuntu SMP Thu Oct 15 14:04:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

About your first point, yes it's shipped with kathara/base, but I was looking for using `iperf` that is not shipped with it,

[2020-11-06 15:55] #108 closed, assigned to nobody

[2020-11-09 12:05] Akelatnx opened #109 "lstart not working using Docker Toolbox on Windows 8.1 - 64 bit"
Hi to everybody.

I have an old pc so I had to install a deprecated version of Docker Toolbox but Kathara seemed to work anyway: I was able to create and start single machines, but if I use the command lstart I get the error in the attached image.

How can I solve this? I need it to work for my class... :-(

Thanks in advance!

![2020-11-04_005302](https://user-images.githubusercontent.com/7418710

[2020-11-09 13:57] tcaiazzi commented on #109
Hi @Akelatnx,

what version of Docker and Windows are you using?

Thanks.

[2020-11-09 14:17] Akelatnx commented on #109
Hi!

I'm using Windows 8.1 - 64 bit and Docker Toolbox 19.03.1

[2020-11-10 08:51] Skazza94 commented on #109
Hi @Akelatnx,
could you please try the following?

Type `kathara settings`, choose `(**Windows only**) Enable WLS2 Support` option and choose `Yes` to enable it.
Try again to start a lab and tell us if it's working.

**WARNING**: Keep in mind that the WSL2 flag will be removed in the next Kathará release, so you can't update it to newer versions (>2.2.4) if you don't update your OS to Win10 and th

[2020-11-10 11:35] lorenzo93 commented on #107
Hi @Baldomo

Sorry for answering so late, we were busy with different bugs in Kathará.

I appreciate a lot your scripts for installing Kathará in other Linux distributions but you missed a point.
In order to use Docker on a Linux machine you either be `root` or your user need to be in the `docker` group. This because Docker can be used to perform privilege escalation on your machine (it is a well

[2020-11-11 09:54] Akelatnx commented on #109
It worked! :-)

Thank you so very much!!! :-)

[2020-11-11 09:55] #109 closed, assigned to nobody

[2020-11-11 11:22] tcaiazzi commented on #87
Hi @mchoji ,
I impleted the "num_terms feature" as described by @Skazzino.
For now you can use it from the source code in the multiple_terminals branch.
It will be merged in one of the next releases.

If you test it, let us know if it works well.

Thanks!

[2020-11-11 12:50] y0k4i-1337 commented on #87
That's great! Thanks for your work. I will try it as soon as possible.

[2020-11-12 09:24] GiuliaMaragno opened #110 "[WinError 2] Impossibile trovare il file specificato"
Hello, I can't run the vstart and the lstart syntax.
Powershell shows me an ERROR like this:
![Errore](https://user-images.githubusercontent.com/66382585/98921043-21470780-24d1-11eb-9a4b-5c55a2097c35.PNG)

[2020-11-12 10:42] Skazza94 commented on #110
Hi @GiuliaMaragno,
seems like Docker Desktop is not running. Before using Kathara you should ensure that Docker Desktop is running on your system (you can doing so by checking the tray icons).

If the problem persists, we'll further investigate.

Also, I suggest you to update to the latest Kathará version ([3.0.1](https://github.com/KatharaFramework/Kathara/releases/tag/3.0.1)) that we released ye

[2020-11-12 10:48] Skazza94 commented on #104
Hi @jimmad123,
just as reminder if you're still interested in compiling Kathará on ARM, we merged `new_megalos` into the `master` branch.

Thanks,
Mariano.

[2020-11-12 11:18] GiuliaMaragno commented on #110
Hi @Skazzino,
Docker Desktop is currently running.
I’ve updated the version this morning but it doesn't work.
![image](https://user-images.githubusercontent.com/66382585/98932464-a5a08700-24df-11eb-9898-af8c6bab1e8c.png)

Waiting for your kind feedback,

Best regards,
Giulia.

[2020-11-12 11:24] Skazza94 commented on #110
Hi @GiuliaMaragno,
thanks for you feedback.

To better understand what's happening, activate the debug logging as follows:
- Type `kathara settings`
- Go into `Choose logging level to be used` and choose `DEBUG`
- Exit from settings
- Start a machine with `kathara vstart ...`

A detailed log will be outputted, please paste it here.

Thanks,
Mariano.

[2020-11-12 11:28] GiuliaMaragno commented on #110
Hi @Skazzino,
Here is the output:
![image](https://user-images.githubusercontent.com/66382585/98934491-74758600-24e2-11eb-9315-a9fd13f5a914.png)

[2020-11-12 11:51] Skazza94 commented on #110
Hi @GiuliaMaragno,
the device creation is correct (so it is started), but there's a problem with terminal opening.

First of all, from the output above seems like Kathara is not at version 3.0.1, so please update it (overwriting the current installation in "C:\Program Files\Kathara"). Second, maybe you opened Powershell as administrator. Please use Powershell without administration privileges.

Th

[2020-11-12 12:07] GiuliaMaragno commented on #110
Hi @Skazzino,
I'm currently using the PowerShell without administration privileges, and I just updated Katharà version, but it still doesn't work.
The output is the following:
![image](https://user-images.githubusercontent.com/66382585/98938052-9c1b1d00-24e7-11eb-8bb8-d6eb66bcccda.png)
If I use administration privileges, the output is this:
![image](https://user-images.githubusercontent.com/663825

[2020-11-12 16:18] Skazza94 commented on #110
Hi @GiuliaMaragno,
we released another version of Kathara (3.0.3). Here we added few options that can help debugging this issue.

First of all, update Kathara and run `kathara check` and paste the output.

After that:
- Type `kathara settings`
- Go into `Choose logging level to be used` and choose `EXCEPTION`
- Exit from settings
- Start a machine with `kathara vstart ...` and upload the output (s

[2020-11-12 16:43] GiuliaMaragno commented on #110
Hi @Skazzino,

- this is the output of "katharà check" after the update:

![image](https://user-images.githubusercontent.com/66382585/98968311-ced80c00-250d-11eb-8045-408afdb1c553.png)

- this is the output after "kathara vstart -n pc1"

![image](https://user-images.githubusercontent.com/66382585/98968763-6178ab00-250e-11eb-8095-14037c34f9e7.png)

Thanks,
Giulia.

[2020-11-12 16:47] Skazza94 commented on #110
Hi @GiuliaMaragno,
with the stack trace I can understand that it is a problem related to PowerShell.

Please in PowerShell type `$env:path` and report the output.

Thanks.

[2020-11-12 16:50] GiuliaMaragno commented on #110
Hi @Skazzino,
that's the output:
![image](https://user-images.githubusercontent.com/66382585/98969795-81f53500-250f-11eb-8f36-4dff1fb6a6a2.png)
Thanks,
Giulia

[2020-11-12 16:55] Skazza94 commented on #110
Hi @GiuliaMaragno,
seems like it not a problem related to Kathara. The PowerShell path is a little strange (as you can see there's a `;c:\dig` after the powershell path).

Remove the double quotes around PowerShell and dig path.

Thanks,
Mariano

[2020-11-12 17:29] GiuliaMaragno commented on #110
Hi @Skazzino,
now it works correctly!!
Thanks for your time,
Giulia.

[2020-11-12 17:32] Skazza94 commented on #110
Hi @GiuliaMaragno,
no problem! We're here to help you! :)

I'm closing this issue.

[2020-11-12 17:32] #110 closed, assigned to nobody

[2020-11-18 07:16] 174n opened #111 "Add proper linux support (not debian-based)"
My feature request would be to add support for linux distros other than debian-based (Arch, Fedora for instance).

The instructions are strictly debian-based (although it says linux there): https://github.com/KatharaFramework/Kathara/wiki/Linux

[2020-11-18 11:58] Skazza94 commented on #111
Hi @Rundik,
other users already requested this feature.

We're working to build binary packages for Yum and Pacman. We'll keep you updated.

Thanks.

[2020-11-19 00:57] lara29 opened #112 "Kathara check/lstart/vstart fails when there is no startup file"
**Describe the bug**
With the latest code, the check command and lstart fails when the lab folder contains no startup file

**To Reproduce**
Run either the check command, or the lstart command with just lab.conf (no other files in the lab folder)

**Expected behavior**
Kathara brings up containers even in the absence of startup files

**Logs**
ERROR - 	! Running `Hello World` failed: object of typ

[2020-11-19 10:22] Skazza94 commented on #112
Hi @lara29,
thanks for reporting this issue! We just released the Kubernetes Manager, so it is possible that it contains some untracked bugs.

I solved the problem and I'm packing a new release (3.0.5) with the fix.
I'll update you when it is available.

Thanks!

[2020-11-19 11:57] Skazza94 commented on #112
Hi @lara29,
3.0.5 version is released and fixes this problem. If you have any other problem don't hesitate to open a new issue! 😄

[2020-11-19 11:57] #112 closed, assigned to nobody

[2020-11-19 17:14] lara29 commented on #112
Thanks @Skazzino for promptly getting this fixed :)

[2020-11-20 11:25] Skazza94 commented on #107
Hi @Baldomo,
we're currently working on building Kathará on RPM-based and Arch-based systems.

You can check the progress in the `linux-builds` branch, under the `scripts` folder. For now, RPM build works fine. We'll start working on the Arch build.

I'm closing this issue.
Thanks,
Mariano.

[2020-11-20 11:25] #107 closed, assigned to nobody

[2020-11-22 05:57] lara29 opened #113 "REST API endpoints for Kathara"
**Feature request**
Presently, Kathara is a CLI tool and this the only way a user can run any kathara commands. This makes it a little inconvenient when having to interface kathara with another service. Also the output of the commands is text which needs to be parsed and not very helpful.

**Solution**
Exposing rest endpoints would make it easier for another service to interact with kathara and al

[2020-11-22 10:50] Skazza94 commented on #113
Hi @lara29,
thanks for you request.

Our team was just talking about the same feature few days ago (we need it for some internal projects). We planned to start working on this after 2 minor features (currently in `port_forwarding` and `multiple_terminals` branches) and the RPM/Arch binary releases (in the `linux-builds` branch). Probably releasing REST APIs will take ~2 months or more, since we ne

[2020-11-25 08:24] 174n commented on #111
Is there any temporary solution to run it on fedora?

[2020-11-25 09:44] tcaiazzi commented on #111
Hi @Rundik,
we're working to build binary packages for Yum and Pacman. However we are still not ready to release the binaries.
For now, you can compile it (for Fedora) from the `linux-builds` branch, entering the `scripts/Linux-Rpm` directory and running `make`.  This will build a binary rpm file in the `Output` directory.

Otherwhise you can use Kathará directly from the source code:
`python3 kat

[2020-11-25 23:00] lara29 commented on #113
@Skazzino Awesome, I'm glad that your team is thinking about it. I'll see if I can dedicate some cycles to this task.

[2020-11-28 12:33] diogolopes18-cyber opened #114 "Error while checking Kathara"
**Describe the bug**
While installing Kathara, after I sourced the shell file and running `kathara check` I get the following error:

File "/opt/Kathara/src/Resources/foundation/factory/Factory.py", line 19, in get_class
    return class_for_name(module_name, class_name)
  File "/opt/Kathara/src/Resources/utils.py", line 39, in class_for_name
    m = importlib.import_module(module_name + "." + cla

[2020-11-28 12:41] Skazza94 commented on #114
Hi @diogolopes18-cyber,
before using Kathará from source code, you should install pip dependencies.

To do so, from a Terminal, go into `src` and type
```sudo python3 -m pip install -r requirements.txt```

After this, Kathará should work fine.

[2020-11-28 12:57] diogolopes18-cyber commented on #114
It worked, thanks!

[2020-11-28 14:28] #114 closed, assigned to nobody

[2020-12-01 11:30] lukes1582 opened #115 "Kathar Critical Error"
Hi, after installing docker-ce and following the "kathara" installation procedure, I checked.
This is what generated the check. Can you help me???

[code]

**Verioning**

[code]
**OS**

[code]

**Check Critical Error**

[code]

**Check first linee report**

[code]
**Docker version**

[code]

[2020-12-01 12:18] tcaiazzi commented on #115
Hi @lukes1582,
I can see two errors in the `katahra check` output:
1.  /bin/sh: 1: /sbin/iptables: not found
For this, we're not sure of the cause, so please type `kathara settings` and set the logging level to `EXCEPTION`.  Then, run `kathara check` and paste here the stacktrace output.

2. CRITICAL - [Errno 2] No such file or directory: '/usr/lib/kathara/python3'
We already know this bug and we'

[2020-12-01 12:37] lukes1582 commented on #115
Hi @tcaiazzi ,
I made the changes you told me. This is the result

[code]
I will try kathara functioning. If there are other errors I will report them to you.
Have you ever thought about developing a simple gui?
It might be useful to show all networks!

[2020-12-01 15:42] tcaiazzi commented on #115
Hi @lukes1582,

If you want a gui you can use the [Netkit-Lab-Generator](https://github.com/KatharaFramework/Netkit-Lab-Generator).
It's a tool to configure the networks and generate all the configuration files.

Thanks.

[2020-12-03 10:10] Skazza94 commented on #111
Hi @Rundik,
[release 3.0.6](https://github.com/KatharaFramework/Kathara/releases/tag/3.0.6) adds binaries for Yum and Pacman. For now we're releasing them as binary files, but we'll create a custom Yum repo and upload the pkg on AUR really soon.

I'm closing this issue, if you have any other problem, don't hesitate to open a new one.

Thanks,
Mariano.

[2020-12-03 10:10] #111 closed, assigned to nobody

[2020-12-03 10:10] Skazza94 commented on #115
Hi @lukes1582,
new [release 3.0.6](https://github.com/KatharaFramework/Kathara/releases/tag/3.0.6) fixes the `check` problem.
About `/bin/sh: 1: /sbin/iptables: not found`, it is not a Kathará-related issue and you should verify that iptables is correctly installed into your OS.

Thanks,
Mariano.

[2020-12-03 10:15] Skazza94 commented on #104
Since the last reply was 21 days ago I'm considering the issue as solved or no longer relevant.

If you need further support, you can open another issue.

Thanks!

[2020-12-03 10:15] #104 closed, assigned to nobody

[2020-12-03 15:05] lukes1582 commented on #115
Hi @Skazzino thanks for the information.
Today I have updated the software and the critical error is not present.
@tcaiazzi  I see the Netkit-Lab-Generator... I am reviewing the javascript code and I have also modify the images (they weren't beautiful).

[2020-12-04 16:27] Baldomo opened #117 "Unable to use VSCode, GTK+ error"
**Describe the bug**
GTK+ refuses to start Kathara because of its use of `setuid`/`setgid`. This does not happen with all the CLI commands but only with the ones which require interaction with docker, or so it seems.

In my humble and uninvolved opinion, the complete removal of any `setuid` usage on Linux (or on Arch based distros at least) should be considered, as explained by the GNOME authors i

[2020-12-04 16:53] #115 closed, assigned to nobody

[2020-12-04 17:00] lorenzo93 commented on #117
Hi @Baldomo,

the setgid is needed to run docker containers without the need for being root. Kathará is intended to be executed even on shared computers (e.g. university labs) where the users don't have root access to the system. If the users account is put in the docker group it will be possible to execute a [privilege escalation](https://docs.docker.com/engine/security/#docker-daemon-attack-surf

[2020-12-04 17:25] Baldomo commented on #117
Okay I totally get it now! Thank you for explaining the reason behind `setuid`. The whole "GTK refusing to start with setgid" thing only happens in GTK-based terminal emulators, such as the one integrated in vscodium/vscode (and others). It wasn't working on xfce4-terminal either but I did a clean install and now it works great on there, in hind sight I should have tried even more terminal emulato

[2020-12-09 10:14] lorenzo93 commented on #117
Hi @Baldomo

so from what I understand from your edit, there is still a way to still execute Kathará inside vscode??

In next days I'll test your issue and put it in the wiki, thanks for the suggestion.

[2020-12-09 10:31] Baldomo commented on #117
Yes, Kathara works fine on my system when this specific setting is set to "external" like so

![image](https://user-images.githubusercontent.com/17025402/101618172-e7a2e700-3a11-11eb-8615-b37f76864d45.png)

I haven't noticed any other bugs or errors so far inside vscode's terminal

[2020-12-16 17:08] la187937 opened #119 "Lab not working"
Hello, could you please help me?
I try to launch the basic lab but Kathara doesn't start-it.
Kathara check works, Kathara vstart works but the lab not
![probleme kathara](https://user-images.githubusercontent.com/76121277/102381415-78a52f80-3fc9-11eb-84fd-203d792d89ee.PNG)

Thank you!

[2020-12-16 17:28] tcaiazzi commented on #119
Hi @la187937,

it seems that docker is not running or that you don't have internet connection on the host.
So, please, try to start docker and check that you are connected to the internet.

N.B. : in general, the internet connection is not needed, but you have to download and install the kathara network plugin first.

Let us know if you have problems!

Thanks,
Tommaso.

[2020-12-16 20:23] la187937 commented on #119
Thank you for your prompt response!
Docker is started. How can i check that I'm connected to the internet? (My personal computer is connected to the wifi!)

Thanks

[2020-12-16 22:10] Skazza94 commented on #119
Hi @la187937,
to check if you're connected to the internet, you can try to ping google.com. From a terminal, type `ping google.com` and check if it returns a proper response. Also, just for information, you can check if Docker is running typing `docker ps` from a terminal.

Some additional information to dig into the issue: are you using a Powershell or the classic `cmd`? Can you please attach the

[2020-12-16 23:02] la187937 commented on #119
Hi Mariano
Thank you for you help! I saw  tha I'm connected to the internet with the ping.
However , I lauch the kathara check! there is an error !
Here a screenshot
![Probleme kathara1](https://user-images.githubusercontent.com/76121277/102416973-1cf39a00-3ffb-11eb-89be-eca139ec770b.PNG)

thank you.

[2020-12-17 08:01] Skazza94 commented on #119
Hi @la187937,
are you using PowerShell as CLI?

[2020-12-17 08:51] la187937 commented on #119
Hi Mariano!
no I am using cmd

[2020-12-17 10:03] Skazza94 commented on #119
Hi @la187937,
as already reported in other issues (like #103), Kathará on Windows only works on Powershell (without admin privileges).

So please, try to use it and tell us if you still encounter any problem.

Thanks,
Mariano.

[2020-12-17 10:39] la187937 commented on #119
Hi Mariano,
I try to launch kathara with powershell but it doesn't work !
and there aren't any created machines on docker!
However the kathara check works!
![Probleme powershell](https://user-images.githubusercontent.com/76121277/102477336-83f56b00-405c-11eb-828c-3f34fed4b0f2.JPG)
![Probleme powershell1](https://user-images.githubusercontent.com/76121277/102477345-88218880-405c-11eb-9463-faffd7bcb

[2020-12-17 11:00] Skazza94 commented on #119
Hi @la187937,
okay, now Kathará works but there's a problem with Docker Desktop. Are you using version 3.0.0?

P.S. Remember to run a `kathara wipe` before relaunching the lab!

[2020-12-17 11:27] la187937 commented on #119
Hi Mariano,

THANK YOU VERY MUCH!!!
Everything works!!

Have a good day ! bye bye !

[2020-12-17 11:30] Skazza94 commented on #119
Hi @la187937,
glad to hear that everything works fine! 😄

I'm closing this issue, if you have any other problem don't hesitate to open another one.

Mariano.

[2020-12-17 11:30] #119 closed, assigned to nobody

[2020-12-17 12:05] #117 closed, assigned to nobody

[2020-12-27 10:43] alizandian opened #120 "Installation on Ubuntu (arm64 architecture)"
After following installation procedures on Ubuntu (adding repositories and meeting prerequisites), after running the command:
`sudo apt-get install kathara`
I get this:
`Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package kathara
`
Does it have something to do with arm64 (Using raspberry pi 4)

This is my uname -a results:
Linux jan-

[2020-12-30 15:58] lorenzo93 commented on #120
Duplicate of #104

[2020-12-30 15:58] #120 closed, assigned to nobody

[2021-02-07 16:03] jimmad123 opened #122 "Question - Can collision domains between labs be created?"
Hi,

I am wondering whether it is possible to setup a collision domain bridging two different Kathara labs?

I have looked through the manual entries and found the `[bridged]` conf option and the `kathara-labs.ext` file but can't work out a way of connecting a device in one lab to a device in another lab via a single collision domain. I figured that it might be possible to send the traffic from tw

[2021-02-07 16:21] lorenzo93 commented on #122
Hi @jimmad123 ,

If you create two labs naming a collision domain with the same name this is possible without any additional change.
This can happen only if the two labs are creating by the same user on the same machine because the username is encoded in the network name.

Let me know if you manage to do it or if there are some other barriers.

Best regards
Lorenzo

[2021-02-07 16:30] jimmad123 commented on #122
Hi @lorenzo93 ,

Thank you for your prompt response. I have managed to get the link setup without any issues. I also wonder - is there any way to do this with two labs created by different users? If it is not possible then I'll be able to use a single-user method but ideally I'd like to link labs created by different users.

Kind regards,
jimmad123

[2021-02-07 21:41] lorenzo93 commented on #122
Hi @jimmad123 ,

we were planning an option (inside `kathara settings`) to enable this behaviour, but there are security issues about who can enable this flag because the settings are user specific and this can affect system wide users.
For now the best is to use the single-user method.

Best,
Lorenzo

[2021-02-07 21:56] jimmad123 commented on #122
Hi @lorenzo93 ,

Thank you for the information and help with this issue, I will now close it.

Best regards,
jimmad123

[2021-02-07 21:56] #122 closed, assigned to nobody

[2021-03-14 16:16] fam4r opened #124 "AUR package: missing dependency chrpath"
**Describe the bug**
Hi, it seems that the AUR package fails during the build operation due to a missing dependency, to be precise the `chrpath` package.

**To Reproduce**
[code]

**Expected behavior**
The package builds succesfully.

**Screenshots**
Appending the very last lines of the build log (I can provide the full log if needed):

[code]

Installing the `chrpath` package makes the build succ

[2021-03-20 21:47] #124 closed, assigned to nobody

[2021-03-20 21:47] Skazza94 commented on #124
Hi @fam4r,
I added the `chrpath` dependency in the PKGBUILD.
I also updated the Wiki to include the steps for AUR.

Thanks for the issue,
Mariano.

[2021-04-13 16:16] tcaiazzi commented on #113
Hi @lara29,
we started to work on REST API Server.

You can find it in the rest_api branch. This is only a sperimental version, but you can start to play with it (and to contribute if you want :D)!

Thanks,
Tommaso

[2021-04-14 02:45] nisevi opened #126 "vdump command"
Hi there, not sure if this is an issue or I'm just failing to find in the documentation the equivalent to `vdump` that we used to have when installing [net-kit](https://netkit-ng.github.io/umldump.html). Is that the case? Do we no longer have a command like `vdump`?

Thank you for the great work you do :rocket:

[2021-04-14 15:49] Skazza94 commented on #126
Hi @nisevi,
the `vdump` command is not part of the original NetKit commands (it has been added in one of the new forks). Hence, there's no support for it in Kathará.

However, if you want to dump packets from a single device interface, you can use `tcpdump` inside that device.
You can write an output file in `/shared` folder (inside the device) and you'll find the dumps inside the `shared` folder

[2021-04-20 03:58] nisevi commented on #126
Hey @Skazza94!! thank you for your quick answer, and sorry for my delay! Sure thing I will try what you mention :rocket:

Closing this one in the meanwhile :robot:

[2021-04-20 03:58] #126 closed, assigned to nobody

[2021-04-21 10:51] decolens6 opened #127 "Inetd for Telnet connection"
I mostly use Kathara for educational purpose, when wanting to show how to set a network up. And for that, thanks for being here.
I started first with Netkit, with which I was very happy because everything worked as expected.
My problem is that with Netkit, I was able to show the difference between a secured connection (via SSH) and a non-secured one. For the non-secured one I used Telnet with open

[2021-04-21 12:38] tcaiazzi commented on #127
Hi @decolens6,

It seems that some packages of NETKIT are not present in the Kathara images. This should not be a problem.
Can you explain what commands you usually do? So that I can fix the problem.

Thanks for the support,
Tommaso

[2021-04-21 12:47] decolens6 commented on #127
As inetd was natively in every Netkit vhosts, all I did was starting the openbsd-inetd daemon with :
`/etc/init.d/openbsd-inetd start`
Then I was able to open a Telnet connection between vhosts.
In Kathara, this daemon isn't in the vhosts by default (meaning it is not in the `/etc/init.d/` folder).

[2021-04-21 13:17] decolens6 commented on #127
To add some info in my research, I tried to install the openbsd-inetd package manually with dpkg, for which happened dependency problem for the first dependent package of openbsd-inetd which is init-system-helpers :
`root@mv2:/# dpkg -i /hosthome/.../openbsd-inetd_0.20160825-5_amd64.deb
dpkg: regarding .../openbsd-inetd_0.20160825-5_amd64.deb containing openbsd-inetd, pre-dependency problem:

[2021-04-21 16:50] tcaiazzi commented on #127
Yes I experimented the same issue.

It seems that the installation of quagga in the `kathara/quagga` image breaks some dependencies.
If you do not need to use quagga you can install the `openbsd-inetd` from the `kathara/base` image.
However you have to create an user because login as root is not allowed by Telnet.

If you prefer, you can send me the lab configuration you are using and I can create

[2021-04-22 09:51] tcaiazzi commented on #127
Here a lab folder that contains a custom image with `openbsd-inetd`, `telnetd` and a telnet user (username: telnet, password: telnet).
Enter the directory and type `docker build -t kathara/telnet .` to build it.
The lab is composed by two devices, pc1 and pc2, connected on a collision domain 'A'.
`openbsd-inetd` is started in the pc1 startup, so you can directly connect pc2 to pc1 using telnet.

L

[2021-04-22 09:57] decolens6 commented on #127
Thanks a lot @tcaiazzi !
I'll try it and come back closing this ticket if everything is alright!

Keep doing the great job,
Cheers

[2021-04-22 12:08] #127 closed, assigned to nobody

[2021-05-06 14:34] Superacing98 opened #128 "How to compile Kathara on arm64"
Hi,
I want to install Kathara on my MacBook Pro M1 with arm64 architecture but it doesn't work. I follow this guide: https://githubmemory.com/repo/KatharaFramework/Kathara/issues/104
Can anyone help me?

Thanks,
Francesco

[2021-05-07 14:03] Skazza94 commented on #128
Hi @Superacing98,
unfortunately, to build the Kathará binary on MacOS, we need a MacBook. However, we currently do not own a M1 MacBook, so it is impossible for us to provide a package for this version.

If you want to contribute, we can help you in trying to build it.

Mariano.

[2021-05-07 19:33] Superacing98 commented on #128
Hi Mariano,
I tried to install Kathara on Ubuntu 20.04.2 ARM64 which is installed on MacBook M1 and not directly on macOS

[2021-05-14 09:20] Skazza94 commented on #128
Hi @Superacing98,
the problem is the same. We do not own any hardware with ARM64 right now.
We tried to solve it with the user of issue #104, but he never answered.

If you still want to help us, we can setup a direct channel (like Microsoft Teams or Skype or live in university) to get it work!

[2021-05-14 09:27] Superacing98 commented on #128
Hi Mariano,
I want to help you, so when you want we can meet

[2021-05-14 14:51] Skazza94 commented on #128
Hi @Superacing98,
mail me (you can find my email in my profile) so we can schedule a meeting.

Bye!

[2021-07-15 12:03] kwaku104 opened #129 "Connect Kathara Lab to host machine"
Is there a way to connect a kathara lab to a host machine via an "external interface" or a network interface?

I'm trying to set up the lab in such a way that I can ssh into a Kathara device from my host machine.

A work around for my use case will be to use "kathara-exec" to execute commands in a kathara device from my host machine but it doesn't seem to work for commands that include flags.

![S

[2021-07-15 13:49] tcaiazzi commented on #129
Hi @kwaku104,

you have to put `--` before the command:

[code]
A double-dash (`--`) in a shell command signals the end of options and disables further option processing.
You can find other information [here](https://www.baeldung.com/linux/double-dash-in-shell-commands).

Cheers,
Tommaso

[2021-07-15 13:56] #129 closed, assigned to nobody

[2021-07-17 21:08] nopid commented on #128
Hi @Skazza94 and @Superacing98,
Did you had progress on this port? I made a proof-of-concept this week-end getting Kathará to work on ARM64 both under Ubuntu 20 and under macOS. See #130 for the first part and the issues opened in the other repositories. Adding ARM64 support is relatively simple, it requires to provide proper version of the NetworkPlugin and the images.
I would be happy to help th

[2021-07-18 15:18] nopid opened #131 "Apple M1 port tracking issue"
Porting Kathará to ARM64 architecture to support it both under linux/arm64 and macOS requires several simple steps. A proof of concept universal kathara binary is currently running on my system (see screenshot below).

This issue aims to act as a tracker to the steps to be fulfilled:
- [x] Support `any` Architecture for Debian (PR #130) to be apple to produce arm64 .deb program
- [x] Add `plugin_n

[2021-07-22 10:14] Skazza94 commented on #131
Hi @nopid,
first of all thank you for the amazing contribution to Kathará!

We were also working on ARM64 and M1 support lately. We really appreciate your PRs and right now we're working to obtain an Apple M1 Mac for testing and releasing Kathará.
You PRs seems good, we'll merge them in the next release as soon as we have the hardware to test it.

Thanks and sorry for the delay,
Mariano.

[2021-07-22 15:01] nopid commented on #131
Hi @Skazza94,

Thanks for your feedback. We are migrating our networking teaching labs in Orléans from Netkit to Kathará. During the process, I will try to propose contributions that we find valuable in our teaching experience.

When you have a M1, here is what I do to compile a universal (multi-arch) `kathara` binary. It requires a universal python3 interpreter (I am using a `python39 +universal`

[2021-07-27 08:43] francozamp2 opened #133 "Allow xterm also with sudo"
If I launch a lab with the --privileged option (thus being root), no terminal windows are opened. This is the wanted behaviour, supposedly due to incompatibility with sudo, as it is clear from https://github.com/KatharaFramework/Kathara/blob/master/src/Resources/cli/command/LstartCommand.py in row 137 and 168.

Nonetheless, starting xterm with sudo appears not to be an issue on my Ubuntu installat

[2021-07-27 12:47] francozamp2 opened #134 "Move linux hidden files (with a leading .) into Dockers"
I'm unsure if this is a bug or rather a feature request. The problem is that Linux hidden files included in the tree filesystem of a lab machine are not copied during the laboratory deployment.

I traced back this issue to the file https://github.com/KatharaFramework/Kathara/blob/master/src/Resources/model/Machine.py in which in line 127 _glob_ is used to collect all files and put them into an arc

[2021-07-27 17:27] lorenzo93 commented on #133
Hi @francozamp2 ,

the reason why we disable the terminals (xterm) with the privileged flag is due to its incopatibility with Wayland.
I don't know your Ubuntu configuration, but Ubuntu until 21.04 uses X11 while from 21.04 on has moved to Wayland.
Wayland is build with security in mind, so it doesn't allow to launch graphic processes that are not owned by the current user.

On your local machine

[2021-07-27 17:29] Skazza94 commented on #134
Hi @francozamp2,
thanks for the issue.
This is a problem that surely requires a fix. I'll address that and merge it in the next release.

Thanks!

[2021-07-28 07:37] #133 closed, assigned to nobody

[2021-07-31 08:02] Skazza94 commented on #131
Hi @nopid,
as a little update, we'll probably have an M1 machine in September.

I'll keep you updated!

Mariano.

[2021-08-14 09:44] valeriova96 opened #135 "The TAP interface configuration to provide internet to a given lab doesn't work properly"
On my 2016 13" MACBOOKPRO, macOS Big Sur 11.5.1 installed, the simple configuration command that I put in my lab.conf file is not working. What follows is a copy of my lab.conf:
pc1[0]=A
r1[0]=A

pc2[0]=B
r1[1]=B

r1[bridged]="true"
I tried both versions w/ and w/o apices but no success occurs. The network i setup instead works properly, I am able to ping from one pc to the other with no issues. C

[2021-08-24 12:45] nopid commented on #135
I encountered a related issue when opening ports through a bridged connection. Kathará machines with both a hub and bridged do not work as expected on macOS.

I believe that the problem is with Docker for Mac and Docker for Windows behaving differently than Docker for Linux. I opened an issue on the topic on the Docker tracker: https://github.com/docker/for-mac/issues/5860

[2021-09-03 16:54] Kien221 opened #136 "No such file or directory"
Hi everyone, I'm need the help of everyone about issues :
-bash: /install: No such file or directory
when input $NETKIT_HOME/install  to install Kathara. Although I edited "bash environment variable" is:
export NETKIT_HOME=~/KatharaMMT/bin
export PATH=$PATH:$NETKIT_HOME
export MANPATH=:$NETKIT_HOME/man
Thank you so much!!

[2021-09-06 07:51] Skazza94 commented on #136
Hi @Kien221,
I don't know where you found such commands, but they are related to an old version of Kathará (<2.0) which is not supported anymore.

I suggest you to update to the latest version of Kathará. You can find the installation instructions for Linux [here](https://github.com/KatharaFramework/Kathara/wiki/Linux).

Mariano.

[2021-09-06 07:52] Skazza94 commented on #135
HI @valeriova96 and @nopid,
can you further describe what you're trying to achieve?

Please add a little step-by-step description (aside from the lab.conf file) of the actions that I have to perform in order to reproduce the bug.

Thanks a lot!
Mariano.

[2021-09-06 09:38] nopid opened #137 "Deterministic MAC addresses"
Kathará currently has two limitations with respect to Netkit that complicate the deployment of a DHCP server inside a lab.
 1. By default Docker bind-mounts both files `/etc/hosts` and `/etc/resolv.conf` limiting the ability of the DHCP client to change the last one when a DNS server is specified ;
 2. Netkit provides deterministic pseudo-random MAC address for the machines interfaces (thanks to [

[2021-09-06 15:27] nopid commented on #135
~Here is a simple experience.~ *the proper experience is in a post below*

 1. launch a simple bridged machine connected to a hub: `% kathara vstart --eth 0:A --bridged -n alice`
 2. configure a DNS server: `alice# echo nameserver 1.1.1.1 > /etc/resolv.conf`
 3. fetch some external webpage: `alice# curl www.perdu.com`

**Expected behavior:** the content of the webpage should appear in the terminal

[2021-09-17 07:22] Skazza94 commented on #135
Hi @nopid and @valeriova96 ,
I tried what you suggested on my MacOS VM (so x86, and version 10.15) with Docker 3.2.2 and got the expected result:

![immagine](https://user-images.githubusercontent.com/10586339/133741434-e1106561-8eb5-4137-ba9b-e932eb5a5b6e.png)

Maybe is something related to the new ARM version (that I'm still not able to test), or a new version of Docker. I'll further investigate

[2021-09-17 07:25] #136 closed, assigned to nobody

[2021-09-17 07:28] Skazza94 commented on #134
Hi @francozamp2,
I fixed this issue, the fix is now in the [`develop` branch](https://github.com/KatharaFramework/Kathara/commit/928eb642ba30352f27ffb4852359be12a0671aab#diff-2ed00e6c405c74537da2690be48dc1b7d9066d5f2f9fe31a3a8124db1991bf3e).

It'll be available really soon in the new release.

Thanks for the bug report!

[2021-09-17 07:28] #134 closed, assigned to nobody

[2021-09-17 07:58] nopid commented on #135
Hi @Skazza94,
Sorry but there was a mistake in my previous test (I missed the `nameserver` keyword... in my `resolv.conf`...)
It indeed works properly on both x86 and ARM. The proper problem really is with ports.

Here is a proper experience.

 1. launch a simple bridged machine connected to a hub opening a port: `% kathara vstart --port 5000:5000 --eth 0:A --bridged -n alice`
 2. open a server in

[2021-09-17 10:55] Skazza94 commented on #135
Hi @nopid,
I managed to replicate the issue. However it is not related to Kathará but, as you said, to Docker.

I'll close this issue, and reopen it if the bug is fixed but the bridged with a port won't still work in Kathará.

Thanks for your time in investigating this.

[2021-09-19 06:13] Kien221 commented on #136
so thank you so much was support for me , I have successfully installed kathara.

[2021-09-21 15:11] terencode commented on #117
I still get this error when I want to set the "terminal emulator to be used " setting to  GTK-based ones (e.g: tilix, gnome-terminal).

[2021-10-06 12:47] Skazza94 commented on #137
Hi @nopid,
unfortunately we cannot replicate the same function used in Netkit. I'll briefly explain what happens in the Network Plugin.

We create a veth pair with random names (automatically assigned by Linux), then one end of the veth is attached to the Linux bridge corresponding to the requested collision domain, and then we just say to Docker: "the other end will be attached to this endpoint",

[2021-10-06 13:59] nopid commented on #137
Hi @Skazza94,

Thank you for the explanation and the pointer to the code where you generate the mac address from the network ID and endpoint ID. Of course, as these IDs vary on lab restart the provided mac addresses cannot be used for static DHCP configuration.

Reading through both the Docker SDK for Python documentation and the network package for Go documentation, it looks like the Network Plug

[2021-10-06 14:26] Skazza94 commented on #137
Hi @nopid,
the solution you suggest seems good. In this way we can pass the machine name and the interface number (without `eth`).
I'm just concerned about one last thing.

We can pass the dict only with the `connect` command of `Network`. However, the first network of the device is attached on container creation ([here](https://github.com/KatharaFramework/Kathara/blob/master/src/Kathara/manager/d

[2021-10-06 14:35] #135 closed, assigned to nobody

[2021-10-06 14:55] nopid commented on #137
Hi @Skazza94,
The good news is that the [low-level api](https://github.com/docker/docker-py/blob/b27faa62e792c141a5d20c4acdd240fdac7d282f/docker/api/container.py#L218) seems to support a `network_config` parameter that can carry some `driver_opt` (via [`create_networking_config`](https://github.com/docker/docker-py/blob/b27faa62e792c141a5d20c4acdd240fdac7d282f/docker/api/container.py#L598) and [`c

[2021-10-13 22:51] Skazza94 commented on #131
Hi @nopid,
about the last task (Modify the macOS release script to build a `universal2` binary...) we installed on an M1 Mac the same Kathará 3.2.0 package used on x86 and it works (manually patching the NetworkPlugin tag to `latest`). Package for v3.2.0 was built using pyinstaller on develop branch.

We also checked that it was not run by Rosetta and according to the `file` command it is built fo

[2021-10-14 05:28] nopid commented on #131
Hi @Skazza94,

Running the `x86_64` version on M1 might work but it should add a layer of translation. It is strange that "it was not run by Rosetta". I would expect at least part of it to be (for instance library dependencies).

[According to the documentation](https://pyinstaller.readthedocs.io/en/stable/feature-notes.html#macos-multi-arch-support) `pyinstaller` builds single-arch for the curren

[2021-10-14 09:18] Skazza94 commented on #131
Hi @nopid,
your new script to build an `universal2` binary seems good. However, we still need to keep compatibility with macOS 10 in some way. So, the OSX `Makefile` should build both binaries.
If you already have a modified `Makefile`, please add it into the PR #139. Otherwise we'll write it ourselves.

About Debian, we can't change the `architecture` flag since we also use the same build files t

[2021-10-25 13:04] tcaiazzi opened #140 "How to run Katharà on Apple M1"
**Describe the bug**
Kathará does not work correctly on Apple devices with M1 processor.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Kathará on a Apple device with M1 processor.
2. Run a device or a scenario with at least 1 collision domain.
3. Obtain the following error:
![image](https://user-images.githubusercontent.com/26346836/138699922-420010b5-5982-423f-b2d1-0184d066d1c4.pn

[2021-10-25 13:05] tcaiazzi commented on #140
Unfortunately, an official release for M1 processors is still under development.
However, the Docker images and the Network Plugin are ready, so waiting for an official release, it is still possible to use Kathará.

**Solution**
You have to perform the following steps:
1.  Open a terminal.
2. If present, uninstall the old Docker Network Plugin for x86:
    - `docker plugin rm -f kathara/katharanp:

[2021-11-01 09:03] oliverjamarie commented on #140
Thank you! I've been having to work with slow Virtual Machines for 2 months!

[2021-11-14 01:42] TheMenko opened #141 "Error while fetching server API version"
**Describe the bug**
After installing Kathara first from AUR and then with pacman from release tar and running
on provided example small-internet-w-dns-webserver, critical error is shown
`
CRITICAL - Error while fetching server API version: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))
`
Note: kathara check, or any other cmd gives the same error.

**To Reproduce**
Step

[2021-11-14 02:04] TheMenko commented on #141
Well, i forgot to start docker service.
Its 3am, sorry 😄
Closing this

[2021-11-14 02:04] #141 closed, assigned to nobody

[2021-12-04 01:25] giossa94 opened #143 "`kathara exec` hangs indefinitely when running ping command"
**Describe the bug**
`kathara exec` hangs indefinitely when running a specific ping command into a device belonging to a lab. I reproduced the issue with a lab generated with [VFTGen](https://github.com/KatharaFramework/VFTGen), but seems to be related to Kathara and not an issue with VFTGen.

**To Reproduce**
1. Clone [VFTGen](https://github.com/KatharaFramework/VFTGen) repo
2. Run VFTGen with de

[2021-12-06 11:20] tcaiazzi commented on #143
Hi @giossa94,

We fixed it! Check the develop branch and commit https://github.com/KatharaFramework/Kathara/commit/0df94296b248863107956bce3c7891184311d526.

We will merge the fix in the next release!

Many thanks for your help!

Tommaso.

[2021-12-06 11:20] #143 closed, assigned to tcaiazzi

[2021-12-08 15:28] jimmad123 opened #144 "External Link Errors"
**Describe the bug**
When attempting to add an externally-facing collision domain to a lab using the `lab.ext` file, errors are thrown. This is not the case in older Kathara versions and the behaviour has only been noticed in version `3.2.0`. There were also issues with getting older versions, such as `3.1.0`, installed for testing (building from source did not work as expected - not the purpose o

[2021-12-08 20:47] giossa94 commented on #143
Thank you for the quick fix!

[2021-12-09 13:38] Skazza94 commented on #144
Hi @jimmad123,
thanks for the issue. In 3.2 version we switched to Python3.9, so maybe we forgot to update the dependency.
We'll address it as soon as possible and include a patch in the next release.

Sorry for the inconvenience.
Mariano.

[2021-12-10 14:31] Skazza94 commented on #144
Hi @jimmad123,
we found that starting from pyroute2 0.6.1 they changed the organization of the package, hence Nuitka/PyInstaller (that we use to provide a binary) do not correctly import all the submodules.
Hence, we rolledback to pyroute2 0.5.9 waiting for a fix.

The rollback will be included in the next release (very soon).

[2021-12-10 14:31] #144 closed, assigned to nobody

[2021-12-10 14:34] Skazza94 commented on #131
Hi @nopid,
finally we are working on the M1 release. You can check the status in the `develop` branch.
I decided to compile two separate binaries instead of the `universal2` in order to avoid compatibility problems with OS 10.X.

A binary package for Apple M1 will be available soon!

About Debian, we'll also work on supporting ARM64, including Launchpad.

[2021-12-14 14:27] nopid commented on #131
Hi @Skazza94,

That is good news for all the arm64 users 👍.

Simple to use binaries are perfect for most users. A question though for people using the python API: running Kathará commands through the binary wrappers induces a noticeable lag contrary to a pure Python direct usage. Have you considered having the command-line part of the code inside the python package so that:
 (1) pip would install

[2021-12-20 11:54] tcaiazzi commented on #140
Finally we officially release a Kathará version (3.3.0) supporting Apple M1 processors! Check the [release page](https://github.com/KatharaFramework/Kathara/releases/tag/3.3.0).

[2021-12-20 11:54] #140 closed, assigned to nobody

[2021-12-20 11:57] tcaiazzi commented on #128
Finally we officially release a Kathará version (3.3.0) supporting ARM64 processors! Check the [release page](https://github.com/KatharaFramework/Kathara/releases/tag/3.3.0).

[2021-12-20 11:57] #128 closed, assigned to nobody

[2021-12-20 12:02] Skazza94 commented on #131
Hi @nopid,
we officially released the ARM64 version of Kathara (v3.3.0) on both macOS and Launchpad.
I don't fully undestand your problem with the Python API. It is better if you open another issue with some code examples or screenshots, so we can discuss better and be on topic. I'll close this issue (related to ARM64 😄)

[2021-12-20 12:02] #131 closed, assigned to nobody

[2021-12-20 14:15] nopid commented on #131
Hi @Skazza94,
Will do!

[2021-12-20 14:33] nopid opened #145 "Full Kathará install via pip"
Currently, Kathará is distributed in two different ways:
 1. as a binary package for different OS and architectures distributed on https://www.kathara.org;
 2. as a Python API distributed on PyPi : https://pypi.org/project/kathara/.

Both share the same source base hosted on this github repository. It is my understanding that the PyPi version is the whole Kathara source excepted [src/kathara.py](h

[2021-12-20 15:05] tcaiazzi commented on #145
Hi @nopid,
We added the cli to the PyPI package.

Now you can run CLI Kathará command using `python3 -m kathara`.

Let us know if everything works fine!

Thanks and Bye! 🚀

Tommaso

[2021-12-20 15:23] nopid commented on #145
Hi @tcaiazzi,

That was fast ! 🚀

Thanks!

[2021-12-20 16:21] nopid commented on #145
Hi @tcaiazzi,

It seems to work very well (I started a few vstart machines).
One little thing to fix:  `kathara -v` reports 3.3.0 instead of 3.3.1

[2021-12-21 00:44] nopid commented on #145
Hi @tcaiazzi,

It worked under MacOS by under Linux there is one subtle thing to fix: connection is handled by https://github.com/KatharaFramework/Kathara/blob/3439b04ece541870d13b94a1f964e9b195417314/src/Kathara/model/Machine.py#L286

Which is implemented here:
https://github.com/KatharaFramework/Kathara/blob/3439b04ece541870d13b94a1f964e9b195417314/src/Kathara/utils.py#L65-L76

Under Linux the `

[2021-12-21 13:46] Skazza94 commented on #145
Hi @nopid,
I just pushed another version on PyPI (3.3.2) with the `sys.executable` fix. It seems to work.

Thanks again!

[2021-12-21 13:46] #145 closed, assigned to nobody

[2022-02-02 14:56] maurom opened #146 "Issues when parsing lab.dep with comment or blank lines"
Hi, first of all thanks for your work on this highly useful project.

I would like to point out some small issues with the lab.dep parser, for example:

- If the first line of a lab.dep is a comment, then the lab hangs when starting.
  E.g. on `kathara-lab_arp` with the following `lab.dep`

      # hi world
      pc1: r1
      pc2: r2 pc3

    I get

      INFO - ======================= Starting L

[2022-02-03 13:06] Skazza94 commented on #146
Hi @maurom,
thanks for your issue.

You're right, there was the bug you reported in the `DepParser` class. I've fixed it and pushed in the `fix-lab-dep` branch.

I'll merge it in the next Kathará release.

Happy hacking,
Mariano.

[2022-02-03 13:06] #146 closed, assigned to nobody

[2022-02-04 12:42] maurom commented on #146
Works great! Thanks for fixing it so quickly!

[2022-02-16 12:23] slasom opened #147 "Device Deployment Error/Problem"
I am using Kathara for network emulation in Docker containers with Android mobile images ([Docker Android](https://github.com/budtmo/docker-android)).

I have a problem, when I try to deploy a high number of containers, Kathara is not able to deploy them, when it reaches the tenth container, the next ones are deployed very slowly which is not viable.

I find it strange because if I try to deploy t

[2022-02-17 17:03] lorenzo93 commented on #147
Hi @slasom,
We never tried Kathará with an Android image.
However, we used Kathará on a cheap laptop with more than 30 devices and runs smoothly.

To understand if you are dealing with low resources or, if the problem is Kathará related or, if the problem is about the Android image, can you try to run a network scenario with the same topology (links and number of devices) using one of the Kathará'

[2022-02-18 08:56] slasom commented on #147
Thank you very much for the quick response.

I have tried some of the example images in the repository and there is no problem. So I don't know where the problem could be. The strange thing is that if I deploy them with Docker I can launch as many as I want. So I don't know if Kathara has any resource limitations or similar.

I have left a repository with the lab I am testing. Note that the image

[2022-02-18 13:35] lorenzo93 commented on #147
No, Kathará has no limitations in the current version (3.3.0).

I've tested your lab both on a Windows machine and on a Linux machine (both bare metal, 16GB of RAM, 4c-8t CPU). In both cases the entire lab starts in about 20-40 seconds but we do not have KVM enabled.
My idea is that the problem lies in your environment.

To further debug your situation, can you try to change the logging level and

[2022-02-21 08:52] slasom commented on #147
Here it is, the only message that appears as a failure in each container is "DEBUG - failure: decodable_as_unicode: False" although it still deploys (up to at least the 10th container).

ubuntu@ip-172-31-38-230:~/kathara$ sudo kathara lstart -d ./lab --privileged
DEBUG - Machine architecture is `x86_64`.
WARNING - Running devices with privileged capabilities, terminals won't open!
INFO - =========

[2022-02-22 10:57] lorenzo93 commented on #147
Hi @slasom,

even from this log we were unable to find the problem.
To help you further, the best way is to schedule a private meeting.

So, if you want our help, write us an email to contact@kathara.org so we can arrange the details :)

Thanks
Lorenzo

[2022-02-22 12:10] slasom commented on #147
Okey perfect! Thank you so much!

[2022-02-25 08:04] slasom commented on #147
I have contacted you but have not received a reply.

[2022-02-25 10:49] lorenzo93 commented on #147
Hi @slasom,

I'm sorry, your email ended up in the spam folder.
I'm replying right now!

[2022-02-25 10:49] #147 closed, assigned to nobody

[2022-03-16 13:17] zhangineer2 opened #148 "Unable to start xterm windows when using API"
Hello

I have the following simple python script

[code]

Everything runs OK except for that I could not launch the xterm at the end. It appears that the xterm window would blip but doesn't stay on the screen.

When I run the same scenario using `kathara lstart` everything works fine.

Any suggestions?

Thanks
Peter

[2022-03-17 17:48] Skazza94 commented on #148
Hi @zhangineer,
we never tested the `Machine.connect` method from Python APIs. However, this method is not meant to be used from the APIs: Kathara APIs are designed to be used without any graphical windows (e.g. using them from SSH Server, or via Jupiter, etc).

So, I disabled the method if accessing from the Python APIs in order to prevent future issues.

Conversely, if you want to access a devic

[2022-03-17 23:59] zhangineer2 commented on #148
hi @Skazza94, thanks for your reply
I am actually trying to have a pop-up window for each docker container. Much like what I would get when I do `kathara lstart`, which creates a terminal window for each container. But the `exec` is a work around I guess.

[2022-03-18 09:21] Skazza94 commented on #148
Hey @zhangineer,
yesterday I played a little bit with your script and the Python APIs, and I was able to open a terminal without using the `Machine.connect` method. Since the APIs are much more low-level than the CLI, you actually have to write a custom pseudo-connect method.

To achieve it, you have to execute a one-line Python script from shell which calls the aforementioned `connect_tty`. This

[2022-03-18 13:16] zhangineer2 commented on #148
Thank you @Skazza94 !! This solved my issue, I can expand this further to allow users xterm to specific devices !

[2022-03-18 13:16] #148 closed, assigned to nobody

[2022-03-19 01:17] zhangineer2 opened #149 "How to get a list of collision domains via API?"
hello, I wonder if there is a quick way to get a list of collision domains.

I tried the following in the API:

[code]

and received the following

[code]

However, is there a better way to get what's shown via the `docker network list` via API so that I can better print it out or filter it ?

Thank you

[2022-03-19 03:02] zhangineer2 opened #150 "How to map a docker port via API"
How do I start container with port mapped to the host machine via API ?

I tried defining a meta as `port="8080:8080"`, which does not work

I am trying to achieve the following when the container starts:

[code]

[2022-03-19 03:59] zhangineer2 commented on #150
after some digging, the issue is because in bridge mode, port mapping is not supported
https://docs.docker.com/network/host/

so it looks like port mapping is useless in Kathara since everything runs in network mode.

Still looking for a workaround though... The reason I need to do port mapping is mainly for external API functions

[2022-03-19 16:49] zhangineer2 commented on #150
OK, I was able to get it finally working by enabling the bridge mode, as well adding the port mapping.

[2022-03-19 16:49] #150 closed, assigned to nobody

[2022-03-21 11:13] Skazza94 commented on #150
Hi @zhangineer,
yes, you also have to declare `bridged` in order to expose a port on the host.

We also discovered this behavior recently, and we [added a warning](https://github.com/KatharaFramework/Kathara/blob/c1484453b74659e50e5dc7a49591d3cd74a94d5d/src/Kathara/manager/docker/DockerMachine.py#L200) when the user exposes a port without bridged, which is now in the `develop` branch and will be f

[2022-03-21 11:28] Skazza94 commented on #149
Hi @zhangineer,
if you want the collision domains of a specific lab, after deploying it with `Kathara.get_instance().deploy_lab`, you can access them from `lab.links` dict. The dict contains the name of the collision domain as key,  and a `Link` object as value.
The `Link` object has the `api_object` attribute, which is the representation of the network for the specified Manager (e.g., Docker Netw

[2022-03-22 09:31] era-lon opened #151 "Administrative kathara.conf"
Hi, first of all I want to thank all of you for your great work.
We are using the Katharà framework in our department in some courses related to computer networks and it works very well.

Currently users can choose their own setting by editing their kathara.conf file.

I'm wondering if it's not possible to have some sort of master / administrative kathara.conf file
(something like /etc/kathara/kat

[2022-03-22 14:40] tcaiazzi commented on #151
Hi @era-lon,

Thanks for the support!

This is a good suggestion that can be very helpful.

I think we will implement this in the next future!

Many Thanks,
Tommaso

[2022-03-22 22:02] zhangineer2 opened #152 "get_lab_info by lab name"
Hello

When creating the lab we have the option to give a name, however, after spinning up the network scenario, there doesn't seem to be a way to get lab information via lab name. If I have multiple labs running, how can I correctly query for lab information ?

here is what I am using

[code]

Is there a better approach to this?

Thank you

[2022-03-23 18:00] tcaiazzi commented on #152
Hi @zhangineer,

Unfortunately, there is no method for getting labs information directly from the lab names.

As a workaround, you can use the  `generate_urlsafe_hash` function of the `utils` module to generate the `lab hash` from the `lab name`. Then you can use the `get_lab_info` method to get the info of the desired lab.

See the following example:

[code]
N.B. You can use the `Kathara` class f

[2022-03-23 18:29] zhangineer2 commented on #149
Hello @Skazza94

thanks for the info, if I want to get links.values for an existing lab, how can I retrieve such information ?

Thanks
Peter

[2022-03-23 18:38] zhangineer2 commented on #152
Thanks for the update @tcaiazzi !! I can work with `generate_urlsafe_hash`

[2022-03-23 18:38] #152 closed, assigned to nobody

[2022-03-23 19:28] zhangineer2 commented on #149
Also, I tested `lab.links.values()` today and was only getting the following, which does not show me actual interfaces being linked. I would expect to see something like `(h1,0)` as part of collision domain A.

dict_values([Link(A, []), Link(kathara_host_bridge, [])])

[2022-03-24 13:59] tcaiazzi opened #154 "Refactor of the Manager Interface"
Refactor of the Manager Interface to expose more comfortable APIs.

The refactor will include:

- [x] Decouple CLI logic from Business Logic (#155).
- [x] Add class `DockerMachineInfo` to handle Docker stats about running machines.
- [x] Add class `DockerLinkInfo` to handle Docker stats about deployed networks.
- [x] Add class `KubernetesMachineInfo` to handle Kubernetes stats about running machin

[2022-03-24 14:32] Skazza94 opened #155 "Decouple UI Logic from business Logic"
Currently, some of the UI logic (such as progress bars or user prompts) is still coupled to business logic inside Managers or other classes.

This improvement will decouple the UI logic from the business logic, by using an external event dispatcher.

- [x] Create an event dispatcher to register custom events associating a name and a callback
- [x] Replace all UI logic by dispatching custom events

[2022-03-24 14:51] tcaiazzi opened #156 "Docker Image Update Policy"
Add an option in the settings to manage the update of the Docker Images.

**Actual behavior:**
Every time a device is ran, Kathará checks if there are updates for the device image on the DockerHub. If there are, Kathará asks to the user (prompting on the terminal where Kathará is executed) if he wants to update the image.

**Expected behavior:**
The Kathará settings have an option to:

- Always up

[2022-03-24 17:29] Skazza94 commented on #149
Hello @zhangineer,
as I said, there's no way to retrieve the CDs of a lab already deployed.

Me and @tcaiazzi we'll address this issue by refactoring the Manager classes and exposing better methods (see #154).

Sorry for the inconvenience,
Mariano

[2022-03-25 09:43] #155 closed, assigned to Skazza94

[2022-03-25 11:12] Skazza94 commented on #154
I suggest to follow this plan.
1. Methods for retrieving machines and links info:
[code]
Where `MachineInfo` and `LinksInfo` are two new classes that handle the statistics logic and formatting.

2. Method for retrieving specific API objects:
[code]

3. Refactor existing methods to support both `lab_hash` and `lab_name` parameters. If none of them is specified, the method returns an Exception. If `

[2022-03-26 01:50] zhangineer2 opened #158 "environment variables"
Hello

Is there a way to add environment variables when starting a docker container?
I know I can achieve this by setting it as part of the image, but would be nice to have a bit more flexibility to set it when starting a container.

Thanks
Peter

[2022-03-28 10:43] tcaiazzi commented on #158
Hi @zhangineer,

We implemented this feature recently in the [feature-env](https://github.com/KatharaFramework/Kathara/tree/feature-env) branch. It is already merged in the [develop](https://github.com/KatharaFramework/Kathara/tree/develop) branch.
So, it will be officially available in the next release (soon).

Thanks for the support,
Tommaso

[2022-03-28 10:43] #158 closed, assigned to tcaiazzi

[2022-04-05 02:28] zhangineer2 opened #160 "Create OVS ports even with no device attached"
Hello:

Is there a way to leave ports "open" with no devices attached? For example, I want to create a switch with 12 ports, with the first 6 ports reserved for switch-to-switch connections, and the remaining 6 for host connections only. Hence I am specifically assigning ports. However, I noticed that if the port is not added to any collision domain, it will not even get created on the OVS, and Ka

[2022-04-05 12:44] zhangineer2 commented on #160
Hello

I am trying a method where I would initialize all switch ports first, as follow:

This creates port 1 - 12 and add them to collision domain "ground_zero"
[code]

So my question now becomes, how do I reconnect a port to a new collision domain? I can't use the method `connect_machine_to_link` due to the port already assigned to a CD. is there a method to update? or maybe remove and add?

Than

[2022-04-05 12:58] Skazza94 commented on #160
Hi @zhangineer,
by definition, each interface of a Kathará device must be attached to a collision domain.
However, it is possible to attach additional interfaces after the lab has been deployed.

To do so, you can use the `lconfig` command from CLI.
Suppose that you have `s11` with 4 interfaces as your example above. You can add 2 interfaces on collision domains `Y` and `Z`, typing the following:

[2022-04-07 23:42] zhangineer2 commented on #160
Hi @Skazza94

My issue is that I am building Kathara from a static database. I am using Kathara far more than just a "lab" environment actually. Every device to be attached to the OVS in Kathara has specific port assignment.

When I get a list of links to be deployed from a database, I often get un-ordered data, such as
[code]

by Kathara's logic, it would've ended up like this
[code]
I hope there

[2022-04-09 20:42] #160 closed, assigned to nobody

[2022-04-10 17:17] zhangineer2 opened #161 "exec command output truncated"
**Describe the bug**
When executing a list of commands in a docker container, sometimes the output returned is split and returned via 2 separate generator values

for example:

This is an expected output, where all ICMP result is returned in one generator
[code]

This is an incorrect output, where the ICMP result is returned via 2 separate generators
[code]

**To Reproduce**
Steps to reproduce the

[2022-04-10 17:22] zhangineer2 commented on #161
Upon further debugging, I noticed that sometimes the returned results have an extra blank line as shown below, which maybe the cause

[code]

[2022-04-11 10:56] Skazza94 commented on #160
Hi @zhangineer,
sorry for the late reply. The interface ordering is not a Kathará-related issue, but a Docker one (see https://github.com/moby/moby/issues/25181).

So, to circumvent this limitation, we enforce the interface ordering before the container deployment, during the lab parsing. In this way, we avoid non-deterministic behaviours in interfaces number assignment.

In conclusion, the soluti

[2022-04-11 11:07] tcaiazzi commented on #161
Hi @zhangineer,
The issue that you have is related to how docker-py manages streams.
In fact, the `exec_run` method of docker-py returns a new tuple from the generator at each new line.

However, it is possible to get all the output of a command iterating through the generator, consuming it.

[code]
Let me know if this solve your issue!

Thanks,
Tommaso

[2022-04-11 13:51] zhangineer2 commented on #161
Hi @tcaiazzi
I understand that the generator returns tuple at each newline. However, for some reason, there are newlines being added when it shouldn't. in my example

[code]

[code]

The above is exactly the same output, except for the IP addresses, yet the format returned is different. The former returned in the correct format, and the latter was split. This is a single ping command, there can't

[2022-04-11 14:35] tcaiazzi commented on #161
Hi @zhangineer,
I understand your issue. However, as I said before, this is related on how docker-py manages streams. We only return the generator from docker-py `exec_run` command.

Check the code [here](https://github.com/KatharaFramework/Kathara/blob/1145b400355a8c72e900219ca1c8a6fbf38abcc9/src/Kathara/manager/docker/DockerMachine.py#L536)

In my snippet the while loop merges outputs for a comm

[2022-04-11 15:09] zhangineer2 commented on #161
Thank you @tcaiazzi for the workaround

[2022-04-11 15:09] #161 closed, assigned to tcaiazzi

[2022-04-12 17:46] zhangineer2 commented on #161
Hi @tcaiazzi,

Upon further testing, I noticed that the output format is still malformed when using the `exec` method. This seems to be due to `exec` returning a tuple with `stdout` and `stderr`, which sometimes do not actually return expected results.

So what I did was to completely bypass the `exec` command and run `container.exec_run` directly within my own code. Huge thank you for pointing me

[2022-04-19 00:29] ciociolin opened #162 "Nagios compatibility"
Is it possible to set up a Nagios monitorization on Kathara devices? Either by monitoring from the host or from one of the lab machines.
One issue i face when trying is receiving connection refused on port 5666 when trying to use nrpe.

[2022-04-21 10:15] Skazza94 commented on #162
Hi @ciociolin,
we never tested Nagios compatibility with Kathará.
However, you can post here an example lab and we'll try to solve your issue 😄

Mariano.

[2022-05-09 11:04] tcaiazzi opened #163 "Compute LabHash from lab.name if it is present"
**Actual behavior:**
When you run a scenario from CLI the `lab.hash` is computed from the `path`, even if it has a `name` assigned. This prevents from launching a lab from CLI and interacting with it using  the `lab.name` through the python APIs.

**Expected behavior:**
If a `lab.name` is present, it must be used to compute the `lab.hash`. In this way it is possibile to run a scenario from CLI and

[2022-05-09 13:22] Skazza94 commented on #162
Since the last reply was 21 days ago, I'm considering the issue as solved or no longer relevant.

If you need further support, you can reopen the issue.

Thanks!

[2022-05-09 13:22] #162 closed, assigned to nobody

[2022-05-09 15:48] whatever4711 opened #164 "Support for Ubuntu 22.04 - Jellyfish"
**Is your feature request related to a problem? Please describe.**
Currently, Kathara is not installable on Ubuntu 22.04

**Describe the solution you'd like**
Support for Ubuntu 22.04...

[2022-05-09 15:50] tcaiazzi commented on #164
Hi @whatever4711 ,

We are working on it now!

We will release a new version (also for Ubuntu 22.04) as soon as possible!

Thanks for the support,
Tommaso

[2022-05-11 08:56] #156 closed, assigned to tcaiazzi

[2022-05-11 08:57] tcaiazzi commented on #164
Hi @whatever4711,

we released a new version (3.5.0) that includes the support for Ubuntu 22.04.

Thanks,
Tommaso

[2022-05-11 08:57] #164 closed, assigned to tcaiazzi

[2022-05-11 08:58] #154 closed, assigned to Skazza94, tcaiazzi

[2022-05-11 09:00] whatever4711 commented on #164
Thank you so much, Tommaso. My students appreciate your fast response.

[2022-05-11 09:06] Skazza94 commented on #149
Hi @zhangineer,
in version 3.5.0, you can find new Manager APIs to retrieve collision domains information. In particular, these new methods will return Docker/Kubernetes Network objects (depending on the chosen Manager).
For Docker, a description of the class can be found [here](https://docker-py.readthedocs.io/en/stable/networks.html#network-objects).

As an example:
[code]

If you need further h

[2022-05-11 09:06] #149 closed, assigned to Skazza94

[2022-05-13 22:02] zhangineer2 opened #166 "File copy API"
**Is your feature request related to a problem? Please describe.**
I would like to be able to copy files to the folder that contains all scripts when the container starts up.
For example, if I want to contain some scripts to run upon starting the container on h1. I would create a folder named `h1/` and then add the scripts under that.

**Describe the solution you'd like**
I would like to be able t

[2022-05-14 22:45] zhangineer2 commented on #166
no longer really need this. Using shutil works just fine.

[2022-05-14 22:45] #166 closed, assigned to nobody

[2022-05-14 22:47] zhangineer2 opened #167 "Unable to start Kathara Containers from another container"
Hello

I have a use case where I need to start kathara containers by executing commands from another container.

I would first like to know if this is indeed supported.
When I run the code directly on the host, it works fine. But when I try to run it from inside a container, I get the following error
[code]

The above error was very similar to an issue described here https://github.com/docker/for-

[2022-05-15 02:17] zhangineer2 opened #168 "Env Regex Match failure"
in the `machine.py` file
the regex for `env` is `^(?P<key>\w+)=(?P<value>\w+)$`
which does not accurately match IP addresses as a value. I don't think IP addresses will ever be a key.

the following worked for me

`^(?P<key>\w+)=(?P<value>\w+.*)$`

[2022-05-16 14:56] Skazza94 commented on #167
Hi @zhangineer,
I can't understand what you're trying to achieve, could you please explain and post some examples?

[2022-05-16 14:56] Skazza94 commented on #168
Hi @zhangineer,
thanks for the issue. I'll open a branch and fix the regex.

Mariano.

[2022-05-17 09:51] Skazza94 opened #169 "Add unit tests for Kathara Manager"
More unit tests are needed.

We have to add tests for the following methods.
Tests for `get_machine_api_object` methods:
- [x] `Kathara.manager.docker.DockerManager.get_machines_api_objects`
- [x] `Kathara.manager.docker.DockerManager.get_machine_api_object`
- [x] `Kathara.manager.kubernetes.KubernetesManager.get_machines_api_objects`
- [x] `Kathara.manager.kubernetes.KubernetesManager.get_machine

[2022-05-17 15:49] zhangineer2 commented on #167
Hi @Skazza94
basically I am just trying to run a simple Kathara lab, but from inside a container
https://github.com/KatharaFramework/Kathara/wiki/Kathara-Python-API

I am trying to create the kathara containers on the host, while using the above example

Thank you

[2022-05-18 10:03] Skazza94 commented on #168
Hi @zhangineer,
you can find the fix in the `develop` branch. We'll merge it in the next release.

Thanks!

[2022-05-18 10:13] Skazza94 commented on #167
Since Kathará relies on Docker, you need a Docker container with Docker and Kathará installed in it.
We're working on supporting this feature, but in the meanwhile you can use the following Dockerfile to build the aforementioned image. It contains both the Kathará binary and the PyPI package.

[KatharaDocker.zip](https://github.com/KatharaFramework/Kathara/files/8715332/KatharaDocker.zip)

[2022-05-19 02:14] zhangineer2 commented on #167
@Skazza94 I can definitely add docker to the image that I am using, however, wouldn't that spin up Kathara inside the docker container rather than on the host ?

This picture illustrates that I am trying to do.

<img width="348" alt="image" src="https://user-images.githubusercontent.com/33298296/169189130-69dc1e1e-161f-4f15-b6e0-9cd7afa821c7.png">

[2022-05-19 10:22] Skazza94 commented on #167
Hi @zhangineer,
now I understand your request. I edited the previous Dockerfile to work with this setup:
[DockerHost.zip](https://github.com/KatharaFramework/Kathara/files/8728212/DockerHost.zip)

After building it (e.g. with `hostdocker` image name), you have to mount the host Docker socket inside the container.
Through this socket, Kathará will create the containers on the host:

[code]

P.S.: I

[2022-06-01 07:53] #169 closed, assigned to tcaiazzi

[2022-06-07 10:49] #167 closed, assigned to nobody

[2022-06-07 10:59] Skazza94 opened #173 "Add deploy/undeploy device/link methods to Manager"
Currently, there's no way to deploy/undeploy a single device or collision domain. The only way is to use `deploy_lab` and `undeploy_lab` with the `selected_machines` parameter.

Moreover, the only way to update a device is to call the `update_lab` method with a diff from the previous state. This design limits the flexibility, especially for the update. In fact, it is not even possible to disconnec

[2022-07-05 14:58] meedoed opened #175 "How to use the lab.ext file"
Hello!
I want to connect my Kathara lab to an external LAN using lab.ext. For some reason, I cannot connect the collision domain to the physical interface (ping does not pass). Could you give me an example of setting up a lab with a single computer with a lab.ext file?

[2022-07-05 15:12] Skazza94 commented on #175
Hi @meedoed,
could you please share you lab configuration (`lab.ext`, `lab.conf`) and which interface you want to connect (output of the `ip link` command)?

Thanks.

[2022-07-05 16:00] meedoed commented on #175
![image](https://user-images.githubusercontent.com/61783125/177369227-2706d06c-1c40-439f-a72b-750a34f679b2.png)

![image](https://user-images.githubusercontent.com/61783125/177369306-d3e44981-ba82-468d-be98-fdb848e150d6.png)
![image](https://user-images.githubusercontent.com/61783125/177369425-8a74762a-217c-4e7a-9c67-04d17d775546.png)

[2022-07-05 21:38] Skazza94 commented on #175
Hi @meedoed,
configuration seems correct. Could you please start the lab and show the `ip link` output of the bridge associated to the collision domain `A` (starting with `kt-`), and also what's the problem (a `ping` output)?

[2022-07-05 21:48] meedoed commented on #175
I assign an ip address to the ens33 interface and try to ping it. Maybe I'm doing something wrong?
![image](https://user-images.githubusercontent.com/61783125/177422184-adad060c-9fa4-4d9d-abca-21093e6bf125.png)
![image](https://user-images.githubusercontent.com/61783125/177422221-06ea0aa2-68d1-4274-a32b-24aff5849556.png)

[2022-07-05 21:56] Skazza94 commented on #175
Hi @meedoed,
the host configuration seems correct. The interface is correctly connected to the bridge.
What is the configuration of the `eth0` inside `pc`? An output of `ip route` and `ifconfig` should be ok.

Thanks, and sorry for all these questions 😄

[2022-07-05 22:01] meedoed commented on #175
![image](https://user-images.githubusercontent.com/61783125/177424165-c7ad31b7-b8ff-4cec-89f3-44090f8849bf.png)
![image](https://user-images.githubusercontent.com/61783125/177424277-925dfda8-d36b-42ae-b2ec-dcb3e7e8c9b5.png)

[2022-07-06 10:47] Skazza94 commented on #175
Hi @meedoed,
we performed a test with the same setup you mentioned in the previous comments.

What we found is the following:
- it is not possible to ping the interface connected with the `lab.ext`. In your example, you can't ping 192.168.1.10. This is due to the fact that `ens33` is attached to the `kt-` switch, hence it loses its IP address and all its configurations (e.g. default gateway).
- yo

[2022-07-06 11:01] meedoed commented on #175
Hi @Skazza94.
I also just ran a test already with two network cards (ens33 and ens37). With this configuration, it is possible to ping two interfaces (192.168.1.10 and 192.168.1.12). If ens37 is disabled, the ping does not pass. It turns out very interesting.

[2022-07-06 12:26] Skazza94 commented on #175
Hi @meedoed
could you please explain better what you want to achieve? So it is easier for us to understand what's your problem and maybe give the appropriate solution.

Mariano.

[2022-07-06 12:55] meedoed commented on #175
I just want to connect the lab to an external network. Basically, I have already solved this problem. Thank you.

[2022-07-09 07:04] iustin541 opened #176 "Generating packets into and within Kathara"
Hello,

I'm sorry if this wasn't the place to post this, it's my first time using Github.

I'm trying for a project to create a mini-network using kathara and what I need to do is to generate raw IPv6 packets into a kathara node, using a non-kathara node.

I am going to develop a physycal/virtual machine tested and a software, whose purpose will be to generate IPv6 traffic packets.
With the help o

[2022-07-11 09:16] #175 closed, assigned to nobody

[2022-07-11 09:26] Skazza94 commented on #176
Hi @iustin541,
don't worry, I think this is the right place to post this issue! And welcome to the Kathará community! 😄

So, basically you want to inject IPv6 packets into a Kathará node from the host.

You have 3 different alternatives to achieve so:
1. You can attach a physical interface of the host to a Kathará collision domain (using `lab.ext`);
2. You can bridge a container to the host networ

[2022-07-17 15:05] iustin541 commented on #176
Hello @Skazza94,

Thank you very much for your help! I have managed to connect the host to the kathara node.

I'm facing another problem, which I couldn't find in the documentation.
I have made an experimental laboratory, with a very small amount of elements.

![2](https://user-images.githubusercontent.com/108490088/179404428-eea1e55d-89a7-4962-bf18-4529bb62c1ab.png)

I'm trying to ping from c1 to

[2022-07-20 16:07] Skazza94 commented on #176
Hi @iustin541,
you are using the IPv6 Link Local addresses to ping between the two hosts. However, Link Local addresses can only be used to communicate with hosts in the same collision domain (hence, local 😄).

You have to perform a full IPv6 address assignment (like IPv4) to make it work.

Mariano.

[2022-07-20 17:08] iustin541 commented on #176
Hello my friend!

Thank you for your answer!

Could you please give me an example of how should I make those configurations on the computers and on the routers? I wasn't able to find anywhere how should I proceed.

[2022-07-21 11:04] Skazza94 commented on #176
Hi @iustin541,
here's an IPv6 assignment that works:

[code]

[code]

[code]

[code]

Ping from c1 to c2 working:
[code]

Hope this solves your problem, so I can close the issue! 😄
If you have further problems, don't hesitate to reply!

Mariano.

[2022-07-21 12:21] tcaiazzi opened #177 "Add to 'lrestart' the possibilty to specify devices"
The `lrestart` command does not provide the possibility to restart specific devices.
This option is available for the `lstart` and `lclean` commands.

In order to add this option we need to modify the `src/Kathara/cli/command/LrestartCommand.py` file.

[2022-07-21 12:33] tcaiazzi opened #178 "Add architecture compatibility check for Docker images"

[2022-07-21 12:45] iustin541 commented on #176
Hello,

Thank you very much, my friend!

You can close this issue for sure, you have been very helpful. I will apply the information provided from you and if there will be any other problem
occuring, I will start a new post. 😁

Wish you a nice day!

[2022-07-21 18:54] #176 closed, assigned to nobody

[2022-09-02 10:38] tcaiazzi opened #179 "Add custom exceptions"
We need to add custom exceptions to improve error handling and troubleshooting.

We need to change all these basic exceptions:

- src/Kathara/utils.py
    - [x] raise Exception("Not implemented for %s." % architecture)
- src/Kathara/auth/PrivilegeHandler.py
    - [x] raise Exception("This class is a singleton!")
- src/Kathara/cli/command/ListCommand.py
    - [x] raise Exception("You must be root i

[2022-09-05 13:51] tcaiazzi opened #181 "Add Lab methods to manage links and machines"
Currently, the `Kathara.model.Lab` class only has `get_or_new_` methods for links and machines.

We need to add `get` and `new` methods separately to improve usability.

- [x] Add `get_machine` method to  `Kathara.model.Lab` class.
- [x] Add `new_machine` method to  `Kathara.model.Lab` class.
- [x] Add `get_link` method to  `Kathara.model.Lab` class.
- [x] Add `new_link` method to  `Kathara.model.

[2022-09-05 19:42] Mai-Lapyst opened #182 "pyuv broken with python 3.10.x"
**Describe the bug**
pyuv is currently broken for python 3.10.x

see upstream issue https://github.com/saghul/pyuv/issues/271 / PR https://github.com/saghul/pyuv/pull/275

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Make venv with python 3.10 & activate it (`python3 -m venv ./venv && source venv/bin/activate`)
3. run `pip install -r src/requirements.txt`
4. pip errors when t

[2022-09-06 09:44] tcaiazzi commented on #182
Hi @Mai-Lapyst,

Many thanks for pointing out this!

We were aware of the problem of `pyuv` with `python3.10`, but we didn't know of the PR that solved it! :smile:

We will merge your workaround in the next release.

Thanks,
Tommaso

[2022-09-09 11:07] tcaiazzi opened #183 "Better error handling for `network/endpoint does not exist` exception throwed by Kathara NP"
**Describe the bug**
If you reboot the host system while a network scenario is running, after the reboot you get an error from the network plugin when you try to run a device attached to a collision domain that has the same name of ones used in the network scenario deployed before the reboot.

**To Reproduce**
Steps to reproduce the behavior:
1. Run  a network scenario
2. Reboot the host system
3.

[2022-09-09 23:09] b3 opened #184 "Debian 11 installation instructions should be updated (`apt-key` is deprecated)"
[Debian 11 installation instructions](https://github.com/KatharaFramework/Kathara/wiki/Linux#debian-11) still says to use `apt-key` while `apt-key` use is now deprecated in Debian as stated in the [man page](https://manpages.debian.org/bullseye/apt/apt-key.8.en.html).

I guess the documentation should looks like something like the following (not sure about `libmpdec3` though).

-------------------

[2022-09-09 23:59] b3 opened #185 "Major security issue with Kathará install on Debian for some lessons use cases should be acknowledged"
Katharà depends mainly on docker in its basic installation.

On Debian (as on other distributions I guess) using docker is often done by using a `docker` group which  has full `root` privileges (as stated in [https://docs.docker.com/engine/install/linux-postinstall/](https://docs.docker.com/engine/install/linux-postinstall) for instance). Debian itself acknowledge against using this approach, for

[2022-09-10 11:57] lorenzo93 commented on #185
Hi @b3,

this is not how Kathará is designed.

We release Kathará in two different forms:
1. The PIP package. In that case the user needs to be in the `docker` group or `root ` group in order to run Kathará.
2. The compiled packages. This is the option to install Kathará in a shared environment where the user does NOT have access to the administration of the machine.

In this second case, Kathará

[2022-09-12 13:40] tcaiazzi commented on #184
Hi @b3,
Thanks for notice this! :smile:

I will update the installation instructions as soon as possible!

Many thanks for the help,
Tommaso

[2022-09-12 14:39] tcaiazzi commented on #184
Hi @b3,
I updated the wiki!

I also found that the `libmpdec` dependency is finally fixed, so I removed that part from the instructions!

Many thanks for the help! :rocket:
Tommaso

[2022-09-12 14:39] #184 closed, assigned to tcaiazzi

[2022-09-27 16:14] tcaiazzi opened #186 "Bug in cleaning devices with custom shell"
**Bug Description**
Starting a device, that does not have `bash` installed, using a custom shell (different from `/bin/bash`) causes an error while cleaning the device.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a device (using an image that does not have `bash` installed) with a custom shell:
[code]
2. Clean the device:
[code]
The clean commands use the /bin/bash shell taking it

[2022-09-30 12:47] #168 closed, assigned to Skazza94, tcaiazzi

[2022-09-30 12:47] #177 closed, assigned to tcaiazzi

[2022-09-30 12:47] #178 closed, assigned to Skazza94, tcaiazzi

[2022-09-30 12:47] #163 closed, assigned to Skazza94, tcaiazzi

[2022-09-30 12:47] #182 closed, assigned to Skazza94, tcaiazzi

[2022-09-30 12:47] #186 closed, assigned to tcaiazzi

[2022-09-30 12:48] #183 closed, assigned to Skazza94, tcaiazzi

[2022-09-30 12:48] #181 closed, assigned to tcaiazzi

[2022-09-30 12:48] #179 closed, assigned to tcaiazzi

[2022-09-30 12:48] #173 closed, assigned to Skazza94, tcaiazzi

[2022-10-02 16:09] chococlat opened #189 "Weird behaviour while trying to deploy a simple network with BGP"
Following some video lessons i replicated a Lab [https://github.com/chococlat/Lab4.1_BGP]
The code is identical to the lessons one, but when i run it there are some problems:
- In the video lessons the line `/etc/init.d/zebra start` on any of the routers gives the output `Starting Quagga daemons (prio:10) zebra bgpd. Starting Quagga monitor daemon:watchquagga.`
Meanwhile, during my replication, my

[2022-10-03 10:39] tcaiazzi commented on #189
Hi @chococlat,

I'll try to answer to all your questions:
1.  For `/etc/init.d/zebra start`, yes you have to use `/etc/init.d/quagga start` since something is changed in the Docker image.
2. I tried your lab, the error is caused by the interfaces configuration in the `.startup` files. It is always preferred to specify the netmask of the prefixes. I don't know why but the `ifconfig` commands you us

[2022-10-03 10:42] tcaiazzi commented on #185
Hi all,

I'm closing this due to inactivity.

@b3 feel free to re-open the issue, if needed.

Tommaso.

[2022-10-03 10:42] #185 closed, assigned to lorenzo93

[2022-10-03 11:36] chococlat commented on #189
Awesome, all working now. And yes, i'll watch some of the examples.
Thank you very much!

Alessandro

[2022-10-03 11:47] #189 closed, assigned to tcaiazzi

[2022-10-06 12:38] tcaiazzi opened #190 "Better error handling for Shell Not Found Error"
Currently, when you run a device specifying a custom shell, if the image of the device has not the specified shell:

- Startup commands are not executed (in [DockerMachine.Start](https://github.com/KatharaFramework/Kathara/blob/d1448b5da6ffdd7d2a0e7a8a9d6472ac45deb8a6/src/Kathara/manager/docker/DockerMachine.py#L407) and in [KubernetesMachine._build_definition](https://github.com/KatharaFramework/

[2022-10-10 08:07] MrSpadala opened #191 "Docker 4.12.0 closing PowerShell windows on lab start"
Hi guys

## Problem
When launching, a Katharà laboratory, I observe powershell windows opening, hanging on for a few seconds, and then closing abruptly.

For a split second before closing, the window prints the following error message:
![powershell_error](https://user-images.githubusercontent.com/23057237/194821416-b1ad5474-2dce-4c8c-a112-0a74df12d37b.png)

## Steps to reproduce
On Windows, using

[2022-10-10 09:16] tcaiazzi commented on #191
Hi @MrSpadala,

Thanks for pointing out this.

We also noticed this problem today. It is related to this issue of docker-py: https://github.com/docker/docker-py/issues/3045

We are working for releasing a fixed version for Windows as soon as possible (probably today).

As you say, for now the only possible fix is to downgrade Docker Desktop to version 4.11.1.

Sorry for the inconvenience,
Tommaso

[2022-10-10 09:42] #191 closed, assigned to Skazza94, tcaiazzi

[2022-10-10 09:48] tcaiazzi commented on #191
We released the fixed version.

We replaced the old Windows installer inside [release 3.5.1](https://github.com/KatharaFramework/Kathara/releases/tag/3.5.1) with a new one: [Kathara-windows-installer-x64-3.5.1-PATCHED.exe](https://github.com/KatharaFramework/Kathara/releases/download/3.5.1/Kathara-windows-installer-x64-3.5.1-PATCHED.exe).

Feel free to re-open this issue if you have other problems

[2022-10-10 12:57] MrSpadala commented on #191
Works like a charm 🚀

[2022-10-25 14:01] HammerIonut2000 opened #192 "(SettingsError) Settings file is not valid: Terminal Emulator `/usr/bin/xterm` not valid! Install it before using it. Fix it or delete it before launching."
I've installed docker and kathara on ubuntu virtual machine, and I've tried to run the command: sudo kathara vstart --name container
and after waiting I get this error:

(SettingsError) Settings file is not valid: Terminal Emulator `/usr/bin/xterm` not valid! Install it before using it. Fix it or delete it before launching.

How can I solve it?

[2022-10-25 14:09] tcaiazzi commented on #192
Hi @HammerIonut2000,

`xterm` is the terminal emulator used by Kathará as default.

As specified in the [installation guide](https://github.com/KatharaFramework/Kathara/wiki/Linux) (and in the error you posted :innocent:), you need to install it to use Kathará  with default settings.

To install `xterm` type on a terminal:
[code]

Let me know if you need further help,
Tommaso

[2022-10-25 14:39] HammerIonut2000 commented on #192
Hi @tcaiazzi,

I did it as you said, and it worked. Thx for the solution. :)

[2022-10-25 15:01] #192 closed, assigned to tcaiazzi

[2022-10-25 16:02] HammerIonut2000 opened #193 "Testing network connectivity with ping command problem"
I'm trying to test network connectivity for 2 virtual machines and something's not working. Both are sending the packets but none of them receive anything, "100% packet loss". What should I do?

[2022-10-25 17:00] tcaiazzi commented on #193
Hi @HammerIonut2000,

This is not related to a Kathará issue. Probably you are miss-configuring something in your lab.

See our [introduction slides](https://github.com/KatharaFramework/Kathara-Labs/blob/master/001-kathara-introduction.pdf) and our [official labs](https://github.com/KatharaFramework/Kathara-Labs) for some examples.

Thanks,
Tommaso

[2022-10-25 17:00] #193 closed, assigned to tcaiazzi

[2022-10-26 04:11] Ryuuba opened #194 "Reach public Internet from a nonbridge kathara node"
I'm trying to ping a public server from a nonbridged Kathara host through a bridged Kathara router. The following figure shows the network scenario I'm emulating.

![home_lan](https://user-images.githubusercontent.com/8430646/197930935-f209b75b-8169-4aa7-80bc-33d05b3ff372.png)

I want router R1 to forward packets from nonbridged PCs to reach a public server.

The following picture shows the config

[2022-10-26 10:59] tcaiazzi commented on #194
Hi @Ryuuba,

this happens since the router needs to NAT the IP address of pc*.
Otherwise, two things can happen:
1. The OS of the host is configured to drop packets whose the Source IP address do not match any entry of the host's routing table.
2. Even if the OS of the host is configured to route the traffic anyway, the Internet is not able to reach back the IP of pc*.

To implement the NAT, you c

[2022-10-27 00:58] Ryuuba commented on #194
Your example shows exactly what I wanted. I appreciate your help so much. Thanks.

[2022-10-27 00:58] #194 closed, assigned to tcaiazzi

[2022-10-28 11:01] tcaiazzi opened #195 "Wait for booting/cleaining devices (Megalos)"
Currently, when you start (clean) a lab (or a device) using Kubernetes as virtualization manager, the `deploy_lab` (`undeploy_lab`) method in `KuberneteManager` does not wait that all the devices are ready (cleaned).
In this way the user must watch the devices status to check when the deployment (cleaning) is finished.

It would be better that Kathará waits until the deployment (cleaning) is fishe

[2022-10-28 11:01] tcaiazzi opened #196 "Wait that all the desired devices reached the `Running` status (Megalos)"
In order to wait that all the desired devices are ready, we need to modify the [`deploy_machines`](https://github.com/KatharaFramework/Kathara/blob/fade08ea41df1f8811c7fcf645de6d70bee0f18b/src/Kathara/manager/kubernetes/KubernetesMachine.py#L126)  method inside the `KubernetesMachine`, adding a loop which checks the status of all the desired devices.

[2022-10-28 11:04] tcaiazzi opened #197 "Wait that all the desired devices are cleaned (Megalos)"
In order to wait that all the desired devices are cleaned, we need to:

- [x] Modify the [undeploy_machines](https://github.com/KatharaFramework/Kathara/blob/fade08ea41df1f8811c7fcf645de6d70bee0f18b/src/Kathara/manager/kubernetes/KubernetesMachine.py#L388) method inside `KubernetesMachine`, adding a loop for checking that all the desired devices are cleaned.
- [x] Wait for the namespace deletion i